---
import { Icon } from "astro-icon/components";
const { "aria-label": ariaLabel, id, text } = Astro.props;

const path = Astro.url.href;
const href = `${path}#${id}`;
// console.log(Astro.url);
---

<span id={id} class="heading relative">
  {text ? text : <slot />}
  <a
    aria-label={id + " anchor link"}
    {href}
    class="absolute -left-6 top-3 text-2xl"
  >
    <span class="anchor-link"><Icon name="mdi:link-variant" /></span>
  </a>
</span>

<style lang="css">
  .anchor-link {
    visibility: hidden;
  }

  .heading {
    display: inline-flex;
    flex-direction: row-reverse;
    gap: 0.5rem;
    align-items: center;
    scroll-margin-top: 10rem;
    position: relative;
  }

  a {
    /* text-decoration: none; */
  }

  [data-icon] {
    color: var(--action-color);
    /* vertical-align: middle; */
    /* height: 1rem;
    width: 1rem; */
  }

  .heading:focus .anchor-link,
  .heading:hover .anchor-link {
    visibility: visible;
  }
</style>
