---
import { Icon } from "astro-icon/components";
---

<button
  class="responsive-toggle nav-icon flex h-full items-center justify-center md:hidden"
  aria-expanded="false"
  data-hamburger-button
  aria-label="Open menu navigation"
>
  <svg
    xmlns="http://www.w3.org/2000/svg"
    width="24"
    height="24"
    viewBox="0 0 24 24"
    ><path fill="currentColor" d="M3 6h18v2H3V6m0 5h18v2H3v-2m0 5h18v2H3v-2Z"
    ></path></svg
  >
</button>

<style lang="scss">
  *:focus,
  *:focus-visible {
    outline: 2px dotted black;
    outline-color: black;
    outline-offset: 0;
    -webkit-box-shadow: 0 0 0 2px white;
    box-shadow: 0 0 0 2px white;
  }

  *:focus:not(:focus-visible) {
    outline: none;
    box-shadow: none;
  }
</style>
