---
import { Icon } from "astro-icon/components";
---

<button
  class="responsive-toggle nav-icon inline-flex md:hidden"
  aria-expanded="false"
  data-hamburger-button
  aria-label="Open menu navigation"
>
  <svg
    xmlns="http://www.w3.org/2000/svg"
    width="24"
    height="24"
    viewBox="0 0 24 24"
    ><path fill="currentColor" d="M3 6h18v2H3V6m0 5h18v2H3v-2m0 5h18v2H3v-2Z"
    ></path></svg
  >
</button>

<!-- <script>
  // variables
  const responsiveToggle = document.querySelector(".responsive-toggle");

  // functions
  const openMenu = (toggle) => {
    toggle.setAttribute("aria-expanded", true);
    toggle.setAttribute("aria-label", "Close menu navigation");
    toggle.innerHTML = `<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path fill="var(--action-color)" d="M19 6.41L17.59 5L12 10.59L6.41 5L5 6.41L10.59 12L5 17.59L6.41 19L12 13.41L17.59 19L19 17.59L13.41 12L19 6.41Z"/></svg>`;
  };

  const closeMenu = (toggle) => {
    toggle.setAttribute("aria-expanded", false);
    toggle.setAttribute("aria-label", "Open menu navigation");
    toggle.innerHTML = `<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path fill="var(--action-color)" d="M3 6h18v2H3V6m0 5h18v2H3v-2m0 5h18v2H3v-2Z"/></svg>`;
  };

  // execution;
  responsiveToggle?.addEventListener("click", (_) => {
    const mobileNavigation = document.querySelector(".mobile-menu");
    console.log(responsiveToggle);

    mobileNavigation?.classList.toggle("show");
    mobileNavigation?.classList.contains("show")
      ? openMenu(responsiveToggle)
      : closeMenu(responsiveToggle);
  });
</script> -->

<style lang="scss">
  *:focus,
  *:focus-visible {
    outline: 2px dotted black;
    outline-color: black;
    outline-offset: 0;
    -webkit-box-shadow: 0 0 0 2px white;
    box-shadow: 0 0 0 2px white;
  }

  *:focus:not(:focus-visible) {
    outline: none;
    box-shadow: none;
  }
</style>
