---
import { Icon } from "astro-icon/components";

import InlineEmail from "@components/forms/InlineEmail.tsx";
import SectionHeading from "@components/shared/SectionHeading.astro";

const {
  cta,
  message = "Stay up to date with our latest news, products and promotions.",
} = Astro.props;
---

<aside
  class="flex max-h-fit w-full max-w-screen-lg flex-col items-center gap-x-8 p-4 sm:p-6 md:flex-row"
>
  <SectionHeading
    subtitle="subscribe"
    title={cta}
    addClasses=" md:w-2/5 w-full"
  >
    {message}
  </SectionHeading>

  <div class="w-full md:w-3/5">
    <InlineEmail client:load transition:persist />
  </div>
</aside>
