---
import { getCollection, getEntry } from "astro:content";
import { Icon } from "astro-icon/components";

import ArticleLayout from "@layouts/ArticleLayout.astro";

import { formatDate } from "@utils/dateFormat";
import { humanize, plainify, slugify } from "@utils/textConverter";

import PageHeader from "@components/blog/PostHeader.astro";
import Button from "@components/common/Button.astro";

// Generate a new path for every collection entry
export async function getStaticPaths() {
  const blogs = await getCollection("blog");
  return blogs.map((entry) => ({
    params: { slug: entry.slug },
    props: { entry },
  }));
}

// Get the entry directly from the prop on render
const { entry } = Astro.props;
// pull out the content from the collection
const { Content } = await entry.render();
---

<ArticleLayout frontmatter={entry.data}>
  <article class="flex max-w-3xl flex-col items-center justify-center">
    <PageHeader entry={entry} />
    <div class="prose prose-base py-4 dark:prose-invert">
      <!-- {Content ? <Content /> : <Fragment set:html={entry.content || ''} />} -->
      <Content />
    </div>
  </article>

  <Button
    href="/blog"
    text="Back to Blog"
    icon="mdi:arrow-left"
    buttonColor="color-primary "
    addClasses="size-small w-fit mt-8"
  />
</ArticleLayout>
