// | -------------------------------------------------------------
// | Button
// | -------------------------------------------------------------
button {
  // padding: 0.75em 1em;
  border-radius: 0;
  // background-color: transparent;
  // background-color: inherit;
  // font-weight: bold;
  // line-height: 1;
  text-decoration: none;
  text-align: center;
  display: inline-flex;
  justify-content: center;
  align-items: center;
}

button * {
  pointer-events: none;
}

button:hover {
  cursor: pointer;
}

.button {
  display: inline-flex;
  padding: 0.75rem 1rem;
  font-weight: bold;
  text-decoration: none;
  text-align: center;
  // color: var(--neutral-100);
  // background-color: var(--primary-300);
  border: 3px solid var(--font-color);
  box-shadow: var(--shadow-light);
  border-radius: 3px;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
    border-color 0.15s ease-in-out;
  // min-width: 11rem;
  align-items: center;
  justify-content: center;

  &:hover,
  &:focus {
    text-decoration: underline;
    // background-color: var(--primary-200);
    // border-color: var(--primary-200);
    color: var(--neutral-100);
    background-color: var(--neutral-800);
  }

  &:visited {
    // color: var(--neutral-200);
  }
  &.color-primary {
    color: var(--neutral-100);
    background-color: var(--primary-300);

    // border-color: (var(--secondary-100));
  }

  &.color-secondary {
    background-color: var(--accent-purple-100);
    color: var(--neutral-100);

    // border-color: (var(--secondary-100));

    &:hover,
    &:focus {
      // background-color: var(--secondary-400);
      // border-color: var(--secondary-400);
      color: var(--secondary-600);
      background-color: var(--secondary-100);
    }
  }

  &.color-neutral {
    background-color: var(--neutral-background);
    color: var(--font-color);
    border-color: (var(--font-color));

    &:hover,
    &:focus {
      background-color: var(--neutral-background-light);
      border-color: var(--neutral-400);
      color: var(--action-color);
    }
  }

  &.color-info {
    background-color: var(--info-300);
    border-color: (var(--info-300));

    &:hover,
    &:focus {
      background-color: var(--info-200);
      border-color: var(--info-200);
    }
  }

  &.color-success {
    background-color: var(--success);
    border-color: (var(--success));
    color: var(--on-success);

    &:hover,
    &:focus {
      background-color: var(--green-200);
      color: var(--green-400);
    }
  }

  &.color-warning {
    background-color: var(--yellow-400);
    border-color: (var(--font-color));

    &:hover,
    &:focus {
      background-color: var(--yellow-200);
      color: var(--yellow-400);
      // border-color: var(--warning-300);
    }
  }

  &.color-error {
    background-color: var(--error-300);
    border-color: (var(--error-300));

    &:hover,
    &:focus {
      background-color: var(--error-200);
      border-color: var(--error-200);
    }
  }

  &.size-tiny {
    padding: 0.125rem 0.25rem;
    font-size: 0.75rem;
    line-height: 1.125rem;
  }

  &.size-small {
    padding: 0.25rem 0.5rem;
    font-size: 0.875rem;
    line-height: 1.3125rem;
  }

  &.size-large {
    padding: 0.75rem 1rem;
    font-size: 1.125rem;
    line-height: 1.6875rem;
  }

  &.size-huge {
    padding: 1rem 2rem;
    font-size: 1.25rem;
    line-height: 1.875rem;
  }

  &.behavior-full {
    display: block;
    width: 100%;
  }

  &.type-secondary {
    background-color: transparent;

    &:hover,
    &:focus {
      background-color: transparent;
    }
  }

  &.has-icon {
    display: flex;
    align-items: center;
    gap: 0.5rem;

    [astro-icon] {
      width: 30px;
    }
  }
  &:disabled,
  &[disabled] {
    text-decoration: none;
    background-color: var(--nv-background);
    color: var(--on-nv-background);
    border-color: var(--outline-variant);
  }
}

.darkmode .button {
  // border: 3px solid var(--neutral-700);
  // box-shadow: var(--shadow-dark);
}
.darkmode .button.type-secondary {
  // color: var(--neutral-100);
}
