// | -------------------------------------------------------------
// | Color
// | -------------------------------------------------------------

$colors: (
  primary: (
    100: #e8e8fb,
    200: #a1a3fe,
    300: #575bfe,
    400: #5053be,
    500: #363881,
    600: #1d1e54,
  ),
  secondary: (
    50: #fdf9f7,
    100: #fde4d8,
    200: #ffccb2,
    300: #ff9f70,
    400: #ce7d55,
    500: #9f6e56,
    600: #6d5d54,
  ),
  neutral: (
    100: hsl(0 0% 100%),
    200: #fafcff,
    300: #f1f5fc,
    400: hsl(220 12% 88%),
    500: #d1daeb,
    600: #7f8da9,
    700: #5c6982,
    800: #4f586a,
    900: #3f4654,
  ),
  dark: (
    100: #3f4654,
  ),
  red: (
    100: #ffd3d1,
    200: #ffbdba,
    300: #ff7670,
    400: #bd504c,
    500: #542321,
  ),
  green: (
    100: #d1ffe1,
    200: #94ffba,
    300: #34b360,
    400: #368151,
    500: #215433,
  ),
  yellow: (
    100: #fff7d0,
    200: #ffeb94,
    300: #ffe363,
    400: #857320,
    500: #554b21,
  ),
  accent: (
    purple: #b663ff,
    blue: #4aacff,
    teal: #2bb3a9,
    mint: #7dffac,
    peach: #ffc770,
    gold: #ffe363,
    orange: #ff9863,
  ),
);
