// | -------------------------------------------------------------
// | Color
// | -------------------------------------------------------------

$colors: (
  primary: (
    100: #e8e8fb,
    200: #a1a3fe,
    300: #575bfe,
    400: #5053be,
    500: #363881,
    600: #1d1e54,
  ),
  secondary: (
    50: #fdf9f7,
    100: #fde4d8,
    200: #ffccb2,
    300: #ff9f70,
    400: #ce7d55,
    500: #9f6e56,
    600: #6d5d54,
  ),
  n: (
    4: #16181d,
    6: #272c34,
    10: #3f4654,
    12: #464e5d,
    17: #4f5054,
    22: #5c5d61,
    24: #57585c,
    87: #fbf1e2,
    90: #f9e9d2,
    92: #faeedb,
    94: #fbf2e4,
    96: #fdf6ed,
    98: #fefbf6,
    100: #ffffff,
  ),
  nv: (
    30: #57585c,
    50: #878078,
    60: #9f9a93,
    80: #cfccc9,
  ),
  neutral: (
    100: hsl(0 0% 100%),
    200: #fafcff,
    300: #f1f5fc,
    400: hsl(220 12% 88%),
    500: #d1daeb,
    600: #7f8da9,
    700: #5c6982,
    800: #4f586a,
    900: #3f4654,
  ),

  "red": (
    100: #ffd3d1,
    200: #ffbdba,
    300: #ff7670,
    400: #bd504c,
    500: #542321,
  ),
  "green": (
    100: #d1ffe1,
    200: #94ffba,
    300: #34b360,
    400: #368151,
    500: #215433,
  ),
  "yellow": (
    100: #fff7d0,
    200: #ffeb94,
    300: #ffe363,
    400: #857320,
    500: #554b21,
  ),
  accent: (
    mint-100: #30ffa0,
    gold-100: #fee528,
    orange-100: #ff9963,
    purple-100: #a030ff,
    blue-100: #286cfe,
    teal-100: #18819d,
    peach-100: #ffc770,
    pink-100: #e51a58,
  ),
);
