.quoter {
  background: var(--surface-dim);
  padding: 2rem 0;
}
.tool {
  background: var(--surface);
  // width: 100%;
}

.questionList {
  // width: 100%;
  background: var(--neutral-background);
  border: 3px solid var(--outline);
  border-radius: 0.5rem;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  // padding: 1rem;
  gap: 4;
}
table {
  background: var(--container-lowest);
  border: 3px solid var(--outline);
  border-radius: 0.5rem;
  padding: 2rem;
}
.options {
  // display: flex;
  // flex-wrap: wrap;
  display: grid;

  gap: 0.5rem;
  justify-content: center;
}
.option {
  position: relative;
  height: 100%;
  background: var(--container-lowest);
}
.options input[type="radio"],
.options input[type="checkbox"] {
  opacity: 0;
  position: absolute;
  // width: 2em;
  // height: 2em;
  // width: 0;
}
.options label {
  flex: auto;
  display: flex;
  background-color: var(--container-lowest);
  // padding: 0.5rem 1.5rem;
  text-align: center;
  cursor: pointer;
  border: 3px solid var(--action-color);
  border-radius: 0.5rem;
  padding: 0.5rem 1.5rem;
  width: 100%;
  height: 100%;
  // border: 2px solid var(--outline-variant);
  // border-radius: 0.5rem;
}

label:has(input[type="checkbox"]:checked),
label:has(input[type="radio"]:checked) {
  background-color: var(--green-100);
  border-color: var(--green-300);
  color: var(--primary-600);
}

// .options input[type="radio"]:checked {
//   background-color: var(--green-100);
//   border-color: var(--green-300);
//   color: var(--green-500);
// }
.options .option input[type="radio"]:focus + label {
  border: 2px dashed var(--font-color);
}
.options label:hover {
  background-color: var(--green-100);
}

.next-btn {
  background-color: var(--secondary-background);
  padding: 0.5rem 0.75rem;
  border-radius: 0.5rem;
  border: 3px solid var(--outline);
}
.back-btn {
  background-color: var(--neutral-background);
  padding: 0.5rem 0.75rem;
  border-radius: 0.5rem;
  border: 3px solid var(--outline);
}
.progress {
  // height: 100%;
  background-color: var(--secondary-background);
  border-radius: 0.5rem;
  text-align: center;
}
.progress > span {
  background-color: var(--action-color);
  border-radius: inherit;
  display: block;
  padding: 0 1rem;
  color: var(--surface);
  min-width: fit-content;
}
