// | -------------------------------------------------------------
// | Root
// | -------------------------------------------------------------

@use "color" as *;

:root {
  @each $color, $shades in $colors {
    @each $shade, $value in $shades {
      --#{$color}-#{$shade}: #{$value};
    }
  }
}
* {
  scrollbar-width: thin;
  scrollbar-color: var(--secondary-50) var(--secondary-200);
}

/* Chrome, Edge, and Safari */
*::-webkit-scrollbar {
  width: 10px;
}

*::-webkit-scrollbar-track {
  background: var(--background-alt);
  border-radius: 5px;
}

*::-webkit-scrollbar-thumb {
  background-color: var(--secondary-50);
  border-radius: 14px;
  border: 3px solid var(--secondary-200);
}

// hide elements labelled hidden
[hidden] {
  display: none !important;
}

//  if tab to element not possible
[tabindex="-1"] {
  outline: none !important;
  box-shadow: none !important;
}

// Add smooth scroll
html {
  scroll-behavior: smooth;
  @media (prefers-reduced-motion: reduce) {
    scroll-behavior: auto;

    body * {
      animation-duration: 0s !important;
      animation-delay: 0s !important;
    }
  }
}
// max width for text
p {
  max-width: 75ch;
}

// format any noscript elemets when browser doesn't support js
noscript {
  display: block;
  margin-top: 1em;
  margin-bottom: 1em;
}

// hide antispam
.email-link .antispam {
  display: none;
}
