---
import type { GetStaticPaths } from "astro";
import { CONTENTSETTINGS } from "@config";

const sidebarCount = CONTENTSETTINGS.blog.sidebarCountFlters;
const sidebar = CONTENTSETTINGS.blog.sidebarFilters;

export function getStaticPaths() {
  const allCats = CONTENTSETTINGS.blog.sidebarCountFilters.concat(
    CONTENTSETTINGS.blog.sidebarFilters
  );
  const cats= allCats.map((cat: string) => {
    return {
      params: { filter: cat },
      props: { filterProp: cat },
    };
  });
  const entries = allCats.map( async (cat: string) =>{
    const entries = 
  })
}

const { filter } = Astro.params;
const { filterProp } = Astro.props;
---

<p>Hello {filter}</p>
<p>{filterProp}</p>
