---
import CallToAction from "@components/CallToAction.astro";
import DefaultLayout from "@layouts/DefaultLayout.astro";
import { Image } from "astro:assets";
import SectionHeading from "@components/shared/SectionHeading.astro";
import CallOut from "@components/CallOut.astro";
import Button from "@components/Button.astro";
import headshot from "../assets/images/headshot.jpg";
import PageHeader from "@components/shared/PageHeader.astro";
---

<DefaultLayout
  title=""
  description="Surrey based, Gloucester bred. Learn about our values, expertise, and commitment to helping small businesses thrive online."
>
  <PageHeader breadcrumbs>
    <Fragment slot="title" id="who-we-are">
      Helping your business
      <span class="text-highlight">thrive</span>.
    </Fragment>
    We provide small businesses across the UK affordable, understandable tools and
    technology needed to succeed.
  </PageHeader>

  <section
    class="mb-16 flex w-full max-w-screen-lg flex-col items-center justify-center gap-4 p-4 md:flex-row md:flex-wrap md:items-start md:p-16"
  >
    <div class="prose max-w-[50ch] text-lg">
      <strong>
        Have you ever given that "deer-in-the-headlights" look when asked about
        your tech?
      </strong> Today's businesses need more than just a great product and service.
      Technology is crucial, but it can feel overwhelming.<br />
      <br />

      <strong>That's where I come in.</strong> I fell into tech, consulting for giants
      like Google and Amazon, then led operations in London's HealthTech scene. Now,
      I help small businesses <strong>find and build the right tech</strong>,
      minus the jargon, unlocking its true value.<br /><br />
      I'm a <strong>client-facing developer with a world-renowned MBA</strong> and
      access to a team of tech wizards, ready to support your unique business.<br
      /><br />
    </div>

    <Image
      src={headshot}
      alt=""
      class="aspect-square h-full w-64 flex-initial rounded-full border-4 border-green-300 object-cover sm:w-1/4 md:max-w-xs md:rounded-md lg:max-w-xl"
    />
    <div class="flex w-full flex-col justify-center gap-3 min-[500px]:flex-row">
      <Button href="/quoter" icon="mdi:message-outline" text="Get a Quote" />
      <Button
        href="#believe"
        text="Our Mission"
        icon="mdi:arrow-down"
        buttonColor="color-secondary"
      />
    </div>
  </section>

  <section
    class="peach believe my-16 flex w-full max-w-screen-lg flex-col items-center justify-center p-4 px-4 py-8 md:my-32"
  >
    <SectionHeading id="believe" subtitle="We believe">
      <p slot="title">
        Technology should make life
        <span class="text-highlight">easier</span>, not harder.
      </p>
      <p class="">
        We know that when you're running business, the last thing you need is to
        waste time and money on tech that drives you mad.
      </p>
      <p class="">
        We make the technology and systems that your business relies on:
      </p>
    </SectionHeading>
    <div class="mb-8 grid grid-cols-1 gap-12 md:grid-cols-3">
      <CallOut
        purple="FUNCTION"
        point="seamlessly"
        subtext="reducing disruption"
      />
      <CallOut
        purple="USABLE"
        point="without a PhD"
        subtext="keeping things simple"
      />
      <CallOut
        purple="EFFICIENT"
        point="clear ROI"
        subtext="saving you money"
      />
    </div>
    <div
      class="container mt-16 flex flex-col justify-center gap-3 min-[500px]:flex-row"
    >
      <Button href="/quoter" icon="mdi:message-outline" text="Get a Quote" />
      <Button
        href="/servicese"
        text="Our Services"
        icon="mdi:arrow-right"
        buttonColor="color-secondary"
      />
    </div>
  </section>

  <CallToAction />
</DefaultLayout>
<style>
  .believe > .container {
    background-color: var(--background);
    border: 3px solid var(--dark-100);
    border-radius: 0.5rem;
  }
</style>
