---
import DefaultLayout from "../layouts/DefaultLayout.astro";
import Heading from "../components/Heading.astro";
import { Icon } from "astro-icon";
---

<DefaultLayout title="Contact">
  <section class="container flex flex-col justify-center">
    <!-- <div class="container mx-auto"> -->
    <div>
      <h1 class="mb-2 text-lg font-bold">
        <Heading id="contact" text="Contact Us" />
      </h1>
      <p class="mb-8 text-4xl font-bold">Want to find out more?</p>
      <p class="mb-16 text-2xl">
        We’d love to hear from you. Please fill out this form or shoot us an
        email.
      </p>
    </div>

    <div class="mt-10 grid grid-cols-1 gap-12 lg:grid-cols-2">
      <div class="contact grid grid-cols-1 content-center gap-12">
        <div class="contact-card neutral">
          <Icon name="ic:outline-email" />
          <h2 class="">Email</h2>
          <p>
            If your message isn't quite right for the contact box here, feel
            free to email us directly on:
          </p>
          <a class="email-link pt-4" href="" aria-label="send me an email">
            <span class="hidden">ANTISPAM</span
            >info@<!-- antispam-->peculiardynamics.co.uk
          </a>
        </div>

        <!-- <div>
            <Icon name="ic:outline-chat" />
            <h2 class="">Live chat</h2>
            <p class="">Our friendly team is here to help.</p>
            <p class="" ">Start new chat</p>
          </div> -->

        <!-- <div>
            <Icon name="ion:location-outline" />
            <h2 class="">Office</h2>
            <p class="">
              Come say hello at our office HQ.
            </p>
            <a class="">
              100 Smith Street Collingwood VIC 3066 AU
            </>
          </div> -->

        <!-- <div>
            <Icon name="mdi:phone-outline" />
            <h2
              class="mt-4 text-base font-medium text-gray-800 dark:text-white"
            >
              Phone
            </h2>
            <p class="mt-2 text-sm text-gray-500 dark:text-gray-400">
              Mon-Fri from 8am to 5pm.
            </p>
            <p class="mt-2 text-sm text-blue-500 dark:text-blue-400">
              +1 (555) 000-0000
            </p>
          </div> -->
      </div>
      <form method="post">
        <!-- <div class="-mx-2 md:flex md:items-center">
          <div class="flex-1 px-2">
            <label class="mb-2 block text-sm">First Name</label>
            <input type="text" placeholder="Ada" class="" />
          </div>
          
          <div class="mt-4 flex-1 px-2 md:mt-0">
            <label class="">Last Name</label>
            <input type="text" placeholder="Doe" class="" />
          </div>
        </div> -->
        <div class="mt-4">
          <label class="mb-2">Name</label>
          <input
            name="name"
            type="text"
            placeholder="Ada Lovelace"
            class=""
            required
          />
        </div>

        <div class="mt-4">
          <label class="mb-2">Email address</label>
          <input
            name="email"
            type="email"
            placeholder="adalovelace@example.com"
            class=""
            required
          />
        </div>

        <div class="mt-4 w-full">
          <label class="mb-2">Message</label>
          <textarea
            name="message"
            class="md:h-56"
            placeholder="Message"
            required
            minlength="20"
            maxlength="1500"></textarea>
        </div>

        <button type="submit" class="button mt-4 w-full"> Send message</button>
      </form>
    </div>
    <!-- </div> -->
  </section>
</DefaultLayout>

<script>
  const encodedEmail = "aW5mb0BwZWN1bGlhcmR5bmFtaWNzLmNvLnVr";
  const emails = document.querySelectorAll(".email-link");

  emails.forEach((e) => {
    e.setAttribute(
      "href",
      "mailto:"
        .concat(atob(encodedEmail))
        .concat("?subject=I've got a Peculiar Query")
    );
  });
</script>

<style lang="scss">
  form {
    padding: 2rem;
    border: 3px solid var(--font-color);
    border-radius: 0.5rem;
    background: var(--accent-purple);
    font-weight: 700;
  }
  form label {
    margin-bottom: 0.25rem;
    font-size: 1rem;
    line-height: 1.25rem;
    color: var(--font-color);
  }
  form input,
  form textarea {
    // margin-top: 0.25rem;
    // display: block;
    // width: 100%;
    // border-radius: 0.5rem;
    padding: 0.625rem 1.25rem;
    // border: 3px solid var(--font-color);
    // background-color: var(--neutral-background);
  }

  form input::placeholder,
  form textarea::placeholder {
    color: var(--neutral-500);
  }

  form textarea {
    // margin-top: 0.25rem;
    // display: block;
    // width: 100%;
    height: 8rem;
    // border-radius: 0.5rem;
    // padding: 0.625rem 1.25rem;
    // border: 3px solid var(--font-color);
    // background-color: var(--neutral-background);
  }

  .contact-card,
  form {
    border-radius: 0.5rem;

    border: 3px solid var(--font-color);
    box-shadow: 0.0625rem 0.0625rem 0 var(--background),
      0.5rem 0.5rem 0 var(--font-color);
    padding: 2rem;

    background-color: var(--accent-mint);
  }

  .contact h2 {
    margin-top: 0.5rem;
    font-size: 1.5rem;
    line-height: 1.5rem;
    font-weight: 600;
  }

  .contact p {
    margin-top: 0.25rem;
    font-size: 1.125rem;
    line-height: 1.25rem;
  }
  .contact a {
    padding-top: 0.5rem;
    font-size: 1.125rem;
    line-height: 1.25rem;
    color: salmon;
  }

  [astro-icon] {
    /* color: var(--action-color); */
    /* vertical-align: middle; */
    height: 2rem;
    width: 2rem;
  }
</style>
