---
import { Icon } from "astro-icon/components";
import { SITE } from "@config";

import DefaultLayout from "../layouts/DefaultLayout.astro";
import SectionHeading from "@components/shared/SectionHeading.astro";
import InlineEmail from "@components/common/InlineEmail.astro";
import PageHeader from "@components/shared/PageHeader.astro";

import ContactMessageNetlify from "@components/forms/ContactMessageNetlify.tsx";
import BookAppointment from "@components/shared/BookAppointment.astro";
---

<DefaultLayout
  title="Let's Talk Tech!"
  description="Get in touch with us today to get started on your new website, discuss a project or to arrange a chat about how we can help your business."
>
  <!-- <SectionHeading
    id="contact"
    subtitle="contact us"
    title="Want to find out more?"
  >
    <p class="">
      We’d love to hear from you. Please fill out the form on this page. You can
      also ping us an email or chat to us on WhatsApp now.
    </p>
  </SectionHeading> -->
  <PageHeader id="contact" subtitle="contact us" title="Want to find out more?">
    <p class="">We’d love to hear from you!</p>
  </PageHeader>
  <section
    class="mb-16 flex h-full w-full max-w-screen-xl flex-col items-center justify-between gap-x-8 gap-y-4 self-center px-4 md:flex-row md:items-stretch md:px-16"
  >
    <!-- <div
      class="contact flex h-full min-h-full w-full max-w-lg flex-auto flex-col items-start justify-between gap-4 md:gap-8"
    > -->
    <div
      class="flex h-auto min-h-full w-full grow flex-col justify-between gap-4"
    >
      <div class="contact-card">
        <h2 class="contact-head">
          <Icon name="ic:outline-whatsapp" class="text-4xl" />Chat via WhatsApp
        </h2>
        <p>Message us directly, click the button below to launch WhatsApp.</p>
        <a
          class="button"
          rel="noreferrer"
          target="_blank"
          href="https://wa.me/447405952020"
        >
          Launch Chat
          <Icon name="mdi:arrow-right" class="pl-2 text-2xl" />
        </a>
      </div>
      <div class="contact-card">
        <h2 class="contact-head">
          <Icon name="mdi:play-outline" class="text-4xl" />Schedule an Intro
        </h2>
        <p>Ready to Talk? Click the button below to book a virtual meeting.</p>
        <BookAppointment cta="Book Now" icon="ph:coffee" />
      </div>
      <div class="contact-card">
        <h2 class="contact-head">
          <Icon name="ic:outline-email" class="text-4xl" />Email Us
        </h2>
        <p class="w-full">
          If you need to email us directly, you'll reach us at:
        </p>
        <InlineEmail
          email={SITE.email}
          addClasses="w-fit justify-center inline-flex text-lg text-[--action-color] "
        />
      </div>
    </div>
    <div
      class="contactForm contact flex h-auto w-full max-w-xl grow flex-col items-center justify-center gap-4 shadow-postMod"
    >
      <h2 class="contact-head">
        <Icon name="mdi:message-text-fast-outline" class="text-4xl" />Submit a
        Query
      </h2>
      <ContactMessageNetlify client:load transition:persist />
    </div>
  </section>
</DefaultLayout>

<style lang="scss">
  // see _form for form styles
  // #contactForm {
  //   // padding: 2rem;
  //   // border: 3px solid var(--font-color);
  //   // border-radius: 0.5rem;
  //   // // background: var(--accent-purple);
  //   // font-weight: 700;
  // }

  // #contactForm label {
  //   margin-bottom: 0.25rem;
  //   font-size: 1rem;
  //   line-height: 1.25rem;
  //   color: var(--font-color);
  // }
  // #contactForm input,
  // #contactForm textarea {
  //   padding: 0.625rem 1.25rem;
  // }

  // #contactForm input::placeholder,
  // #contactForm textarea::placeholder {
  //   color: var(--neutral-500);
  // }

  // #contactForm textarea {
  //   height: 8rem;
  // }

  .contact-card {
    // display: flex;
    // flex-direction: column;
    // border-radius: 0.5rem;

    // border: 3px solid var(--font-color);
    // box-shadow: 0.0625rem 0.0625rem 0 var(--background),
    //   0.5rem 0.5rem 0 var(--font-color);

    // background-color: var(--accent-mint);
    @apply flex w-full max-w-xl flex-col items-center gap-2 rounded-lg border-[3px] border-[--font-color] p-4 text-center shadow-postMod md:px-8 md:text-left;
  }

  .contact h2 {
    // font-size: 1.5rem;
    // line-height: 1.5rem;
    // font-weight: 600;
  }
  .contact-head {
    @apply flex w-full items-center justify-center gap-2 text-lg md:justify-start md:text-2xl;
  }

  .contact p {
    @apply text-base md:text-lg;
    width: 100%;
  }

  [astro-icon] {
    height: 2rem;
    width: 2rem;
  }
  h2 [data-icon] {
    @apply w-6 text-4xl;
  }
</style>
