---
import { Icon } from "astro-icon/components";
import { SITE } from "@config";

import DefaultLayout from "../layouts/DefaultLayout.astro";
import SectionHeading from "@components/shared/SectionHeading.astro";
import InlineEmail from "@components/common/InlineEmail.astro";

import ContactForm from "../components/ContactForm.jsx";
import ContactMessage from "@components/forms/ContactMessage.tsx";
---

<DefaultLayout
  title="Let's Talk Tech!"
  description="Get in touch with us today to get started on your new website, discuss a project or to arrange a chat about how we can help your business."
>
  <section
    class="my-auto flex w-full max-w-screen-xl grow flex-col items-center justify-between gap-8 px-4 py-8 md:flex-row md:p-16"
  >
    <div
      class="contact flex w-full max-w-lg flex-auto flex-col items-end gap-4 self-center md:gap-8"
    >
      <SectionHeading
        id="contact"
        subtitle="contact us"
        title="Want to find out more?"
      >
        <p class="">
          We’d love to hear from you. Please fill out the form on this page. You
          can also ping us an email or chat to us on WhatsApp now.
        </p>
      </SectionHeading>

      <div class="contact-card neutral w-full">
        <Icon name="ic:outline-email" class="text-4xl" />
        <h2 class="">Email</h2>
        <p>
          If your message isn't quite right for the contact box here, feel free
          to email us directly on:
        </p>
        <InlineEmail
          email={SITE.email}
          addClasses="pt-4 text-lg text-[--action-color]"
        />
      </div>
      <div class="contact-card neutral w-full">
        <Icon name="ic:outline-whatsapp" class="text-4xl" />
        <h2 class="mb-2">WhatsApp</h2>
        <a
          class=""
          rel="noreferrer"
          target="_blank"
          href="https://wa.me/447405952020"
          aria-label="whatsapp us"
        >
          Click here to chat now on WhatsApp
        </a>
      </div>
    </div>
    <div class="flex min-h-full w-full max-w-xl grow justify-center">
      <!-- <ContactForm client:only="react" /> -->
      <ContactMessage client:load transition:persist />
      <!-- <ContactForm client:load transition:persist /> -->
    </div>
  </section>
</DefaultLayout>

<!-- <script>
  const encodedEmail = "aW5mb0BwZWN1bGlhcmR5bmFtaWNzLmNvLnVr";
  const emails = document.querySelectorAll(".email-link");

  document.addEventListener("astro:after-swap", () => {
    // console.log("swap");
    const emails = document.querySelectorAll(".email-link");
    emails.forEach((e) => {
      e.setAttribute(
        "href",
        "mailto:"
          .concat(atob(encodedEmail))
          .concat("?subject=I've got a Peculiar Query")
      );
    });
  });
</script> -->

<style lang="scss">
  // see _form for form styles
  #contactForm {
    // padding: 2rem;
    // border: 3px solid var(--font-color);
    // border-radius: 0.5rem;
    // // background: var(--accent-purple);
    // font-weight: 700;
  }

  #contactForm label {
    margin-bottom: 0.25rem;
    font-size: 1rem;
    line-height: 1.25rem;
    color: var(--font-color);
  }
  #contactForm input,
  #contactForm textarea {
    padding: 0.625rem 1.25rem;
  }

  #contactForm input::placeholder,
  #contactForm textarea::placeholder {
    color: var(--neutral-500);
  }

  #contactForm textarea {
    height: 8rem;
  }

  .contact-card {
    border-radius: 0.5rem;

    border: 3px solid var(--font-color);
    box-shadow: 0.0625rem 0.0625rem 0 var(--background),
      0.5rem 0.5rem 0 var(--font-color);
    padding: 2rem;

    background-color: var(--accent-mint);
  }

  .contact h2 {
    margin-top: 0.5rem;
    font-size: 1.5rem;
    line-height: 1.5rem;
    font-weight: 600;
  }

  .contact p {
    margin-top: 0.25rem;
    font-size: 1.125rem;
    line-height: 1.25rem;
  }

  [astro-icon] {
    height: 2rem;
    width: 2rem;
  }
</style>
