---
import DefaultLayout from "../layouts/DefaultLayout.astro";
import Heading from "../components/Heading.astro";
import { Icon } from "astro-icon/components";
import ContactForm from "../components/ContactForm.jsx";
---

<DefaultLayout title="Contact">
  <section class="container flex flex-col justify-center">
    <!-- <div class="container mx-auto"> -->
    <div>
      <h1 class="mb-2 text-lg font-bold">
        <Heading id="contact" text="Contact Us" />
      </h1>
      <p class="mb-8 text-4xl font-bold">Want to find out more?</p>
      <p class="mb-16 text-2xl">
        We’d love to hear from you. Please fill out this form or shoot us an
        email.
      </p>
    </div>

    <div class="mt-10 grid grid-cols-1 gap-12 lg:grid-cols-2">
      <div class="contact grid grid-cols-1 content-center gap-12">
        <div class="contact-card neutral">
          <Icon name="ic:outline-email" />
          <h2 class="">Email</h2>
          <p>
            If your message isn't quite right for the contact box here, feel
            free to email us directly on:
          </p>
          <a class="email-link pt-4" href="" aria-label="send me an email">
            <span class="hidden">ANTISPAM</span
            >info@<!-- antispam-->peculiardynamics.co.uk
          </a>
        </div>
        <div class="contact-card neutral">
          <Icon name="ic:outline-whatsapp" />
          <h2 class="mb-2">WhatsApp</h2>
          <a
            class=""
            rel="noreferrer"
            target="_blank"
            href="https://wa.me/447405952020"
            aria-label="whatsapp us"
          >
            Click here to chat now on WhatsApp
          </a>
        </div>
      </div>
      <ContactForm client:load />
    </div>
    <!-- </div> -->
  </section>
</DefaultLayout>

<script>
  const encodedEmail = "aW5mb0BwZWN1bGlhcmR5bmFtaWNzLmNvLnVr";
  const emails = document.querySelectorAll(".email-link");

  emails.forEach((e) => {
    e.setAttribute(
      "href",
      "mailto:"
        .concat(atob(encodedEmail))
        .concat("?subject=I've got a Peculiar Query")
    );
  });
</script>

<style lang="scss">
  form {
    padding: 2rem;
    border: 3px solid var(--font-color);
    border-radius: 0.5rem;
    background: var(--accent-purple);
    font-weight: 700;
  }
  form label {
    margin-bottom: 0.25rem;
    font-size: 1rem;
    line-height: 1.25rem;
    color: var(--font-color);
  }
  form input,
  form textarea {
    padding: 0.625rem 1.25rem;
  }

  form input::placeholder,
  form textarea::placeholder {
    color: var(--neutral-500);
  }

  form textarea {
    height: 8rem;
  }

  .contact-card,
  form {
    border-radius: 0.5rem;

    border: 3px solid var(--font-color);
    box-shadow: 0.0625rem 0.0625rem 0 var(--background),
      0.5rem 0.5rem 0 var(--font-color);
    padding: 2rem;

    background-color: var(--accent-mint);
  }

  .contact h2 {
    margin-top: 0.5rem;
    font-size: 1.5rem;
    line-height: 1.5rem;
    font-weight: 600;
  }

  .contact p {
    margin-top: 0.25rem;
    font-size: 1.125rem;
    line-height: 1.25rem;
  }
  .contact a {
    padding-top: 0.5rem;
    font-size: 1.125rem;
    line-height: 1.25rem;
    color: salmon;
  }

  [astro-icon] {
    height: 2rem;
    width: 2rem;
  }
</style>
