---
import DefaultLayout from "../layouts/DefaultLayout.astro";
import PageHeader from "@components/shared/PageHeader.astro";
import Accordian from "@components/common/Accordian.astro";
import Button from "@components/common/Button.astro";

import faq from "@data/faq.json";

// console.log(faq);
---

<DefaultLayout
  title="Got Questions? See Our Most FAQs"
  description="Don't let website questions hold you back! Find expert answers to common inquiries about website design, development, pricing, and support at Peculiar Dynamics. Get your project rolling today!"
>
  <PageHeader title="FAQs" subtitle="All the answers">
    We've collected a selection of the most frequently asked questions by our
    clients. Still not what you're looking for?

    <Button
      href="/contact"
      icon="mdi:arrow-right"
      text="Get in Touch"
      addClasses=" w-fit "
    />
  </PageHeader>

  <section
    class="container mb-16 flex w-full max-w-screen-xl flex-col items-center justify-center gap-4 px-4 py-8 md:my-3 md:gap-8 md:p-16"
  >
    <Accordian accordianItems={faq} />
  </section>
</DefaultLayout>
