---
import DefaultLayout from "../layouts/DefaultLayout.astro";
import Hero from "../components/Hero.astro";
import CallOut from "../components/CallOut.astro";
import Feature from "../components/Feature.astro";
import ProcessStep from "../components/ProcessStep.astro";
import { Icon } from "astro-icon";
import ContentMedia from "../components/ContentMedia.astro";
---

<DefaultLayout title="Home">
  <Hero />
  <section class="my-64">
    <div class="container flex flex-col">
      <h2 class="mb-2 text-lg font-bold">WE BELIEVE</h2>
      <p class="mb-16 text-6xl font-bold">
        Technology should make life
        <span class="text-highlight">easier</span>, not harder.
      </p>
      <p class="mb-8 text-2xl">
        Make the technology and systems that your business relies on:
      </p>

      <div class="container">
        <div class="mb-8 grid grid-cols-1 gap-12 md:grid-cols-3">
          <CallOut
            purple="FUNCTION"
            point="seamlessly"
            subtext="reducing disruption"
          />
          <CallOut
            purple="USABLE"
            point="without a PhD"
            subtext="keeping things simple"
          />

          <CallOut
            purple="EFFICIENT"
            point="clear ROI"
            subtext="saving you money"
          />
        </div>
      </div>
    </div>
    <div
      class="container mt-16 flex flex-col justify-center gap-3 min-[500px]:flex-row"
    >
      <a
        class="button has-icon"
        href="https://github.com/markteekman/accessible-astro-starter"
      >
        Get a Quote
        <Icon name="mdi:message-outline" />
      </a>
      <a
        class="button color-secondary"
        href="https://github.com/markteekman/accessible-astro-starter/blob/main/README.md"
      >
        About Us
        <!-- <Icon name="mdi:message-outline" /> -->
      </a>
    </div>
  </section>
  <section class="my-64">
    <div class="container">
      <h2 class="mb-2 text-lg font-bold">OUR SERVICES</h2>
      <p class="mb-8 text-6xl font-bold">
        Understand, optimise and connect processes and technology
      </p>

      <p class="mb-16 text-xl">
        We make the technology and systems that your business relies on
      </p>
      <div class="my-4 grid grid-cols-1 gap-12 md:grid-cols-2 lg:grid-cols-3">
        <Feature
          icon="mdi:chart-timeline-variant-shimmer"
          title="Business Analytics"
        >
          Assess performance, manage risk and identify opportunities to improve
          processes and systems.
        </Feature>
        <Feature icon="mdi:cogs" title="Tech Build & Integration">
          Design, integrate and build the right technology, processes and
          systems for your business.
        </Feature>
        <Feature icon="mdi:lifebuoy" title="On Call Support">
          Dedicated access to expertise in technology, business operations and
          strategy, when you need it
        </Feature>
      </div>
      <div
        class="container mt-16 flex flex-col justify-center gap-3 min-[500px]:flex-row"
      >
        <a
          class="button has-icon"
          href="https://github.com/markteekman/accessible-astro-starter"
        >
          Get a Quote
          <Icon name="mdi:message-outline" />
        </a>
        <a
          class="button color-secondary"
          href="https://github.com/markteekman/accessible-astro-starter/blob/main/README.md"
        >
          Explore Services
        </a>
      </div>
    </div>
  </section>
  <section class="my-64">
    <div class="container">
      <h2 class="mb-2 text-lg font-bold">OUR APPROACH</h2>
      <p class="mb-8 text-6xl font-bold">
        Combining business knowledge and technical skill
      </p>
      <ContentMedia imgSrc="/route-vector.png" reverseImg={false}>
        <p class="mb-2 text-xl">
          Building technology infrastructure that is efficient and effective
          requires a hollistic understanding of your business; your strengths,
          your challenges and your goals.
        </p>
        <div class="my-4 flex flex-col justify-start gap-1">
          <!-- <p class="text-center text-xl font-semibold">UNDERSTAND</p>
          <p class="text-l text-center font-normal">
            where you are and where you're going
          </p>

          <p class="mt-2 text-center text-xl font-semibold">OPTIMISE</p>
          <p class="text-l text-center font-normal">what you already have</p>

          <p class="mt-2 text-center text-xl font-semibold">INVEST</p>
          <p class="text-l text-center font-normal">where it matters most</p> -->
        </div>
      </ContentMedia>
    </div>
    <div
      class="banner my-4 flex flex-col items-center justify-center gap-4 md:flex-row md:items-stretch lg:flex-row lg:items-stretch"
    >
      <ProcessStep icon="mdi:telescope" title="Understand">
        where you are and where you're going
      </ProcessStep>
      <ProcessStep icon="mdi:pencil-ruler" title="Design">
        Optimising what you already have or investing where it matters.
      </ProcessStep>
      <ProcessStep icon="mdi:rocket-launch-outline" title="Deliver">
        Build, configure, test and launch your project.
      </ProcessStep>
    </div>
    <div
      class="container mt-16 flex flex-col justify-center gap-3 min-[500px]:flex-row"
    >
      <a
        class="button has-icon"
        href="https://github.com/markteekman/accessible-astro-starter"
      >
        Get a Quote
        <Icon name="mdi:message-outline" />
      </a>
      <a
        class="button color-secondary"
        href="https://github.com/markteekman/accessible-astro-starter/blob/main/README.md"
      >
        Our Approach
      </a>
    </div>
  </section>
</DefaultLayout>

<style lang="scss">
  .text-highlight {
    // background: linear-gradient(
    //   315deg,
    //   var(--primary-200) 25%,
    //   var(--secondary-200)
    // );
    // background-position: center;
    // background-size: auto 80%;
    // background-repeat: no-repeat;
    // text-shadow: 1px 1px 0 var(--neutral-600);
    // text-shadow: 1px 1px 0 var(--neutral-100);
    text-decoration: var(--primary-200) wavy underline;
    // background-clip: content-box;
    // background-clip: border-box;
    // -webkit-background-clip: text;
    // -webkit-text-fill-color: transparent;
    // background-color: var(--secondary-300);
  }

  :global(.darkmode .text-highlight) {
    // background: linear-gradient(
    //   315deg,
    //   var(--primary-200) 25%,
    //   var(--secondary-200)
    // );
    // color: var();
    text-decoration: var(--primary-200) wavy underline;
    text-shadow: 1px 1px 0 var(--neutral-100);
    // background-position: center;
    // background-size: auto 80%;
    // background-repeat: no-repeat;
    // text-shadow: 4px 4px 0 var(--neutral-900);
  }

  .banner {
    padding: 1rem;
    background-color: var(--secondary-100);

    background: linear-gradient(
      315deg,
      var(--primary-100) 25%,
      var(--secondary-200)
    );
  }
</style>
