---
import DefaultLayout from "../layouts/DefaultLayout.astro";
import Hero from "../components/Hero.astro";
import CallOut from "../components/CallOut.astro";
import Feature from "../components/Feature.astro";
import Counter from "../components/Counter.astro";

import ContentMedia from "../components/ContentMedia.astro";
---

<DefaultLayout title="Home">
  <Hero />
  <section class="my-64">
    <div class="container flex flex-col">
      <h2 class="mb-2 text-lg font-bold">WE BELIEVE</h2>
      <p class="mb-8 text-6xl font-bold">
        Technology should make life
        <span class="text-highlight">easier</span>, not harder.
      </p>
      <p class="mb-16 text-2xl">
        Make the technology and systems that your business relies on:
      </p>

      <div class="container">
        <div class="grid grid-cols-1 gap-12 sm:grid-cols-2 md:grid-cols-3">
          <CallOut
            purple="FUNCTION"
            point="seamlessly"
            subtext="reducing disruption"
          />
          <CallOut
            purple="USABLE"
            point="without a PhD"
            subtext="keeping things simple"
          />

          <CallOut
            purple="EFFICIENT"
            point="proven ROI"
            subtext="saving you money"
          />
        </div>
      </div>
    </div>
  </section>
  <section class="my-64">
    <div class="container">
      <h2 class="mb-2 text-lg font-bold">SERVICES</h2>
      <p class="mb-8 text-6xl">
        Understand, optimise and connect your processes and technology.
      </p>

      <p class="mb-16 text-xl">
        We make the technology and systems that your business relies on
      </p>
      <div class="grid grid-cols-1 gap-12 md:grid-cols-2 lg:grid-cols-3">
        <Feature
          icon="mdi:chart-timeline-variant-shimmer"
          title="Business Analytics"
        >
          Assess performance, manage risk and identify opportunities to improve
          processes and systems.
        </Feature>
        <Feature icon="mdi:cogs" title="Tech Build & Integration">
          Design, integrate and build the right technology, processes and
          systems for your business.
        </Feature>
        <Feature icon="mdi:lifebuoy" title="On Call Support">
          Dedicated access to expertise in technology, business operations and
          strategy, when you need it
        </Feature>
      </div>
    </div>
  </section>
  <ContentMedia imgSrc="/accessible-components.webp">
    <h2 class="mb-2 text-lg font-bold">EXPERTISE</h2>
    <p class="mb-8 text-6xl">
      Understand, optimise and connect your processes and technology.
    </p>
    <p class="text-2xl">
      This theme provides plenty of tried and tested Accessible Astro
      Components. Some are native to this theme and a lot of others are
      integrated using a <a
        href="https://github.com/markteekman/accessible-astro-components"
        >separate package</a
      >. They'll get you up and running in building an accessible solution for
      your visitors.
    </p>
  </ContentMedia>
  <ContentMedia imgSrc="/wcag-compliant.webp" reverseImg={true}>
    <h2>WCAG 2.1 AA Compliant</h2>
    <p class="text-2xl">
      Using semantic HTML, landmarks, skip links, screen reader friendly
      content, aria-labels, keyboard accessible navigation and components, clear
      outlines and tab indicators and the right color contrast, you're more
      certain of reaching WCAG AA compliance.
    </p>
  </ContentMedia>
  <section class="mb-32 mt-64">
    <div class="container">
      <h2 class="mb-16 text-6xl">Counters</h2>
      <div class="grid grid-cols-1 gap-12 sm:grid-cols-2 md:grid-cols-4">
        <Counter count="130" title="Stars" sub="On GitHub" />
        <Counter count="17" title="Accessible" sub="Components" />
        <Counter count="500" title="Commits" sub="Merged" />
        <Counter count="18+" title="Months" sub="Since launch" />
      </div>
    </div>
  </section>
</DefaultLayout>

<style lang="scss">
  .text-highlight {
    background: linear-gradient(
      315deg,
      var(--primary-200) 25%,
      var(--secondary-500)
    );
    background-clip: border-box;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    // background-color: var(--secondary-300);
  }

  :global(.darkmode .text-highlight) {
    background: linear-gradient(
      315deg,
      var(--primary-200) 25%,
      var(--secondary-400)
    );
    background-clip: border-box;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
</style>
