---
import DefaultLayout from "../layouts/DefaultLayout.astro";
import { Icon } from "astro-icon/components";

import Hero from "../components/Hero.astro";

import Button from "../components/Button.astro";
import CallOut from "../components/CallOut.astro";
import Feature from "../components/Feature.astro";
import CallToAction from "../components/CallToAction.astro";
import PricingTable from "@components/PricingTable.astro";
import SectionHeading from "@components/shared/SectionHeading.astro";

import heroVector from "../assets/images/hero-vector.webp";

const INCLUDEDFEATURES = [
  "Custom coded, accessible 5-page site",
  "SEO optimisation",
  "Domain registration & management",
  "Migration of existing content",
  "Secure site & email hosting",
  "Anti-spam contact form",
  "https and SSL certificates",
  "Performance scanning & updates",
  "Content licensing & management",
  "Mobile & desktop compatibility",
  "Backups & security updates",
  "Configured with your branding",
  "Google search console registration",
  "Mobile & desktop compatibility",
  "Comprehensive, custom add-ons as required",
];
---

<meta
  property="og:image"
  content="https://peculiardynamics.co.uk/1074x584.png"
/>

<DefaultLayout
  title="Clear Pricing, Affordable Technology"
  description="Want to know how much a website costs? Find affordable, effective technology solutions designed for small businesses. Get a tailored quote today!"
>
  <Hero
    title="Tech Essentials from"
    gradientText="£0 upfront"
    learnTarget={`#web-pricing`}
    quoteButton={true}
    learnButton={true}
    imgSrc={heroVector}
  />

  <PricingTable />

  <section class="container max-w-screen-xl flex-col">
    <SectionHeading subtitle="How it works" id="how-it-works">
      <p slot="title">
        Keeping it
        <span class="text-highlight">simple</span>.
      </p>
      <p class="">
        We use our intelligent digital tools to quickly shape, reconfigure and
        build the right technology for you, at the right price, on your
        schedule.
      </p>
      <p class="">It's as easy as...</p>
    </SectionHeading>

    <div
      class="flex w-full max-w-screen-lg flex-wrap justify-center gap-2 md:flex-nowrap md:gap-4"
    >
      <CallOut
        purple="1"
        point="Quote"
        subtext="Build a detailed custom quote with our interactive tool."
      />
      <CallOut
        purple="2"
        point="Design"
        subtext="Using our intelligent design tool and a 2hr design session."
      />
      <CallOut
        purple="3"
        point="Relax"
        subtext="...whilst we build, test and look after your tech!"
      />
    </div>

    <div class="mt-8 flex flex-col justify-center gap-3 min-[500px]:flex-row">
      <Button href="/quoter" icon="ph:chat" text="Get a Quote" />
      <Button
        href="#included"
        text="See Features"
        icon="mdi:arrow-down"
        buttonColor="color-secondary"
      />
    </div>
  </section>

  <section
    class="peach my-16 flex w-full flex-col items-center justify-center px-4 py-8 md:my-32"
  >
    <div class="container max-w-screen-lg rounded-lg">
      <SectionHeading id="included" subtitle="Web Development Services">
        <p slot="title">
          <span class="text-highlight">Always included</span>, as standard:
        </p>
        <p>
          Get your technology up and running, or up to scratch, with
          comprehensive services without extra cost.
        </p>
      </SectionHeading>

      <div
        class="grid max-w-screen-lg grid-cols-1 gap-2 sm:grid-cols-3 md:gap-8"
      >
        <Feature
          icon="carbon:screen"
          title="Website & Content"
          featureColor=""
          contentClasses="text-center items-center"
        >
          Design or migration, build & optimisation.
        </Feature>
        <!-- <Feature
          icon="mdi:email-outline"
          title="Custom Email"
          featureColor=""
          contentClasses="text-center items-center"
        >
          Professional email matching your domain.
        </Feature> -->
        <!-- <Feature
          icon="carbon:tool-kit"
          title="Productivity Tools"
          featureColor=""
          contentClasses="text-center items-center"
        >
          Google Workspace and products.
        </Feature> -->
        <Feature
          icon="ph:broadcast"
          title="Search Setup"
          featureColor=""
          contentClasses="text-center items-center"
        >
          Search engine profile registration & config.
        </Feature>
        <Feature
          icon="carbon:chat"
          title="Customer Contact"
          featureColor=""
          contentClasses="text-center items-center"
        >
          Built-in anti-spam contact form.
        </Feature>
        <Feature
          icon="ph:presentation-chart"
          title="Data & Insights"
          featureColor=""
          contentClasses="text-center items-center"
        >
          Google Analytics to track performance.
        </Feature>
        <Feature
          icon="ph:cookie"
          title="Legal & GDPR"
          featureColor=""
          contentClasses="text-center items-center"
        >
          Compliant website policies & content.
        </Feature>
        <Feature
          icon="ph:lock-light"
          title="Security Basics"
          featureColor=""
          contentClasses="text-center items-center"
        >
          Secure hosting, domain & data setup.
        </Feature>
      </div>
      <div class="my-8 flex w-full items-center gap-4">
        <div class="flex-auto border-b-2 border-solid border-indigo-600"></div>
        <p>PLUS</p>
        <div class="flex-auto border-b-2 border-solid border-indigo-600"></div>
      </div>
      <ul
        class="grid grid-cols-1 content-center gap-1 text-xs sm:grid-cols-2 sm:gap-4 sm:text-sm md:grid-cols-3 md:gap-8"
      >
        {
          INCLUDEDFEATURES.map((feature) => (
            <li class="flex h-6 items-center gap-2">
              <Icon name="mdi:tick" class="text-2xl" />
              {feature}
            </li>
          ))
        }
      </ul>
    </div>
    <div class="flex flex-col justify-center gap-3 min-[500px]:flex-row">
      <Button href="/quoter" icon="ph:chat" text="Get a Quote" />
    </div>
  </section>

  <CallToAction />
</DefaultLayout>

<style lang="scss">
  .text-highlight {
    text-decoration: var(--primary-200) wavy underline;
  }
  .mint {
    background-color: var(--accent-mint-100);
    color: var(--dark-100);
  }
  .teal {
    background-color: var(--accent-teal-100);
    color: var(--neutral-100);
  }
  .purple {
    background-color: var(--accent-purple-100);
    color: var(--neutral-100);
  }
  .gold {
    background-color: var(--accent-gold-100);
    color: var(--dark-100);
  }
  .peach {
    background-color: var(--accent-peach-100);
    color: var(--peach-100);
  }
  .peach > .container,
  .example {
    display: flex;
    flex-direction: column;
    justify-content: center;
    border: 3px solid var(--font-color);
    border-radius: 0.5rem;
    background-color: var(--background);
  }
  .example {
    background-color: var(--accent-mint-100);
    color: var(--dark-100);
  }

  svg {
    background-color: var(--accent-mint-100);
    color: var(--dark-100);
    border-radius: 9999px;
  }

  .container,
  section > .container {
    @apply my-16 flex items-center justify-center gap-4 p-4 md:my-32 md:gap-8 md:p-16;
  }
</style>
