---
import DefaultLayout from "../layouts/DefaultLayout.astro";
import Heading from "../components/Heading.astro";

import Button from "../components/Button.astro";
import { Image } from "astro:assets";
---

<DefaultLayout title="Quoter">
  <section class="flex items-center justify-center">
    <div class="container flex flex-col items-center gap-8">
      <div>
        <h1 class="mb-2 text-lg font-bold">
          <Heading id="quoter" text="Get A Quote" />
        </h1>
        <p class="mb-8 text-4xl font-bold">Looking for a custom quote?</p>
        <p class="text-2xl">
          Oops... Our smart quoting tool is under construction but you can
          contact us through our contact form for now .
        </p>
      </div>

      <Image
        src="https://media.giphy.com/media/v1.Y2lkPTc5MGI3NjExOWp2ZzExNzF1bzNrNDhzcGd6anRzZnhoNHd0OG12bnp3MHl2ajJ6NiZlcD12MV9pbnRlcm5hbF9naWZfYnlfaWQmY3Q9Zw/wHE6Dd6RCVHQfjK5dy/giphy.gif"
        ,
        alt=""
        ,
        width="100%"
        ,
        height="400px"
        ,
        class="h-96 w-96 rounded-full object-cover"
      />

      <Button href="/contact" icon="mdi:arrow-right" text="Contact Form" />
    </div>
  </section>
</DefaultLayout>

<script></script>

<style lang="scss">
  img {
    border-color: var(--font-color);
    border: 3px solid;
  }
  [astro-icon] {
    /* color: var(--action-color); */
    /* vertical-align: middle; */
    height: 2rem;
    width: 2rem;
  }
</style>
