---
import DefaultLayout from "../layouts/DefaultLayout.astro";
import Hero from "../components/Hero.astro";
import Button from "../components/Button.astro";
import SectionHeading from "@components/shared/SectionHeading.astro";
import Heading from "../components/shared/Heading.astro";
import { Icon } from "astro-icon/components";
import Feature from "../components/Feature.astro";
import CallOut from "../components/CallOut.astro";
import CallToAction from "../components/CallToAction.astro";
import investVector from "../assets/images/invest-vector.png";
---

<DefaultLayout
  title="Website and Technology Wizardry"
  subtitle="Peculiar Dynamics"
  description="Browse our affordable, UK based, hand-coded websites and technology; how we save time, cut costs and fuel growth for ambitious British businesses."
>
  <Hero
    title="Invest in Technology"
    gradientText="That Matters"
    imgSrc={investVector}
    subtitle={`Unlock the potential of your business with accessible, affordable and
    understandable technology paired with one-time or ongoing tech support.`}
  >
    <div
      class="row-start-2 mt-4 flex w-full flex-wrap justify-center gap-3 min-[200px]:flex-row md:col-span-full xl:col-span-1"
    >
      <Button
        href="#webDev"
        icon="mdi:arrow-right"
        text="Website & App Development"
        buttonColor="blue"
      />

      <Button
        href="#ongoing"
        icon="mdi:arrow-right"
        text="Ongoing Support"
        buttonColor="gold"
      />
      <Button
        href="#systemIntegration"
        icon="mdi:arrow-right"
        text="System Integration"
        buttonColor="mint"
      />
      <Button
        href="#businessAnalysis"
        icon="mdi:arrow-right"
        text="Business Analytics"
        buttonColor="pink"
      />
    </div>
    <div class="col-span-full mt-16 flex w-full justify-center">
      <Button
        buttonColor="color-secondary"
        href="#approach"
        text="Our Approach"
        icon="mdi:arrow-down"
      />
    </div>
  </Hero>
  <section
    class="approach flex w-full flex-col items-center justify-center px-4 py-8"
  >
    <div
      class="container flex max-w-screen-lg flex-col items-center justify-center gap-4 rounded-lg p-4 md:gap-8 md:p-8"
    >
      <SectionHeading id="approach" subtitle="Our approach">
        <p slot="title">
          Technology that
          <span class="text-highlight">connects</span> your business and customers.
        </p>
        <p class="">
          Grow, professionalise and promote your business with custom solutions
          that deliver value; to give you the time to focus on delivering your
          products and services.
        </p>
      </SectionHeading>
      <div
        class="grid max-w-screen-md grid-cols-1 justify-items-center gap-8 md:grid-cols-3"
      >
        <p class="col-span-full w-full max-w-[60ch] text-base lg:text-xl">
          Our approach is:
        </p>
        <CallOut
          purple="Tech-Led"
          point="Processes and Service"
          subtext="Keep costs down and delivery fast."
        />
        <CallOut
          purple="UK-Based"
          point="British Suppliers"
          subtext="Supporting local businesses and tech talent."
        />

        <CallOut
          purple="Transparent"
          point="Upfront Costs"
          subtext="Fixed fees, clear briefs and simple pricing."
        />
      </div>
      <ul
        class="mt-8 flex w-full max-w-xl flex-col items-center gap-4 text-base lg:text-xl"
      >
        <p class="my-4 w-full">And our tech is always:</p>
        <li class="inline-flex w-full max-w-[60ch] gap-4 pl-4">
          <Icon name="mdi:tick" class="text-6xl" />
          <p>
            <span class="font-bold">Coded by hand</span>; i.e. no wordpress or
            bloated frameworks <span class="font-bold"
              >for speed and performance</span
            > to optimise your page ranking and SEO - getting you in front of <span
              class="font-bold">more eyeballs</span
            >
          </p>
        </li>
        <li class="inline-flex w-full max-w-[60ch] gap-4 pl-4">
          <Icon name="mdi:tick" class="text-6xl" />
          <p>
            <span class="font-bold">Integrated</span>: tying together all your
            online profiles
            <span class="font-bold">and</span> your core business processes (like
            customer quotes or your accounting tools) - to <span
              class="font-bold"
            >
              save you time and reduce complexity
            </span>
          </p>
        </li>
        <li class="inline-flex w-full max-w-[60ch] gap-4 pl-4">
          <Icon name="mdi:tick" class="text-6xl" />
          <p>
            <span class="font-bold">Comprehensively managed</span>; we handle as
            much as you like behind the scenes so you can <span
              class="font-bold">set it and forget it</span
            > and focus on serving your customers <span class="font-bold"
              >tech-stress free</span
            >
          </p>
        </li>
      </ul>
      <div
        class="mt-16 flex flex-col justify-center gap-3 min-[500px]:flex-row"
      >
        <Button href="/quoter" icon="ph:chat" text="Get a Quote" />
        <Button
          href="#webDev"
          icon="mdi:arrow-down"
          text="How We Can Help"
          buttonColor="color-secondary"
        />
      </div>
    </div>
  </section>

  <section
    class="webdev blue my-16 flex w-full items-center justify-center px-4 py-8 md:my-32"
  >
    <div
      class="container flex max-w-screen-lg flex-col items-center gap-4 rounded-lg p-4 md:gap-8 md:p-8"
    >
      <SectionHeading id="webDev" subtitle="Website & App Development">
        <p slot="title">Translate ideas into technology.</p>
        <p class="">
          Got a great idea but can't code? Frustrated by the cost and complexity
          of building and maintaining a website?
        </p>
      </SectionHeading>
      <div
        class="mb-8 grid max-w-sm grid-cols-1 content-center gap-6 sm:max-w-screen-lg sm:grid-cols-2 lg:grid-cols-3"
      >
        <Feature icon="ic:baseline-web" title="eCommerce & Digital Stores">
          Your digital shopfront, products and payment with Shopify
          <span class="text-xl font-bold">From £9,000 (ex.VAT)</span>
          <Button icon="mdi:arrow-right" href="/pricing" text="Get Booked In" />
        </Feature>
        <Feature icon="ic:baseline-web" title="Website Build or Refresh">
          Valuable, secure and modern custom-coded business websites
          <span class="text-xl font-bold">From £4,500 (ex.VAT)</span>
          <Button icon="mdi:arrow-right" href="/pricing" text="Get Booked In" />
        </Feature>

        <Feature icon="ic:baseline-web" title="Business Apps & Prototypes">
          Bespoke interal apps, customer dashboards or a mock up of your next
          venture for a pitch or research
          <span class="text-xl font-bold">From £6,000 (ex.VAT)</span>

          <Button icon="mdi:arrow-right" href="/pricing" text="Get Booked In" />
        </Feature>
      </div>

      <Button
        icon="mdi:arrow-down"
        href="#ongoing"
        text="Support Services"
        buttonColor="color-secondary"
      />
    </div>
  </section>

  <section
    class="ongoing gold my-16 flex w-full items-center justify-center px-4 py-8 md:my-32"
  >
    <div
      class="container flex max-w-screen-lg flex-col items-center gap-4 rounded-lg p-4 md:gap-8 md:p-8"
    >
      <SectionHeading id="ongoing" subtitle="Ongoing Support">
        <p slot="title">Let us take care of the admin.</p>
        <p class="">
          Guaranteed, flexible access to expertise, ongoing managed support
          functions or routine maintenance, that already knows your business.
          Let us manage the admin of running your business, so you don't need to
          do it yourself or hire externally.
        </p>
      </SectionHeading>
      <div
        class="mb-8 grid max-w-sm grid-cols-1 content-center gap-6 sm:max-w-screen-lg sm:grid-cols-2"
      >
        <Feature
          icon="ic:baseline-web"
          title="Web Hosting & Domain Maintenance"
        >
          Let us cover the basics of keeping your website up and running,
          <span class="text-xl font-bold">From £75 per month (ex.VAT)</span>
          <Button icon="mdi:arrow-right" href="/pricing" text="Get Booked In" />
        </Feature>
        <Feature icon="ic:baseline-web" title="Business Technology Essentials">
          Everything you need for a professional, secure web presence and
          customer experience;
          <span class="text-xl font-bold">From £150 per month (ex.VAT)</span>
          <Button icon="mdi:arrow-right" href="/pricing" text="Get Booked In" />
        </Feature>

        <!-- <Feature icon="ic:baseline-web" title="Business Apps & Prototypes">
          from £5,000 (ex.VAT).
          <Button
            icon="mdi:arrow-right"
            href="/"
            text="Get Booked In"
            buttonColor="color-secondary"
          />
        </Feature> -->
      </div>
      <Button
        icon="mdi:arrow-down"
        href="#systemIntegration"
        text="Connecting Tech"
        buttonColor="color-secondary"
      />
    </div>
  </section>
  <section
    class="systemInt mint my-16 flex w-full items-center justify-center px-4 py-8 md:my-32"
  >
    <div
      class="container flex max-w-screen-lg flex-col items-center gap-4 rounded-lg p-4 md:gap-8 md:p-8"
    >
      <SectionHeading id="systemIntegration" subtitle="system integration">
        <p slot="title">Reduce the burdon of running your business.</p>
        <p class="">
          You should be able to trust technology to reduce the cost and
          complexity of running your business, not increase it.
        </p>
      </SectionHeading>

      <div class="mb-8 flex max-w-md place-self-center">
        <Feature icon="ic:baseline-web" title="Let's get connected">
          Automate, streamline or reconfigure your processes and systems to
          simplify, secure or fix ineffective tech.
          <span class="font-bold">Priced case-by-case</span>

          <Button
            icon="mdi:comment-question-outline"
            href="/contact"
            text="Enquire"
          />
        </Feature>
      </div>
      <Button
        icon="mdi:arrow-down"
        href="#businessAnalysis"
        text="Data Insights"
        buttonColor="color-secondary"
      />
    </div>
  </section>

  <section
    class="business pink my-16 flex w-full items-center justify-center px-4 py-8 md:my-32"
  >
    <div
      class="container flex max-w-screen-lg flex-col items-center gap-4 rounded-lg p-4 md:gap-8 md:p-8"
    >
      <SectionHeading id="businessAnalysis" subtitle="business analysis">
        <p slot="title">Understand the dynamics of your business.</p>
        <p class="">
          Assess performance, manage risk and identify opportunities to improve
          processes and systems.
        </p>
      </SectionHeading>
      <div class="mb-8 flex max-w-md place-self-center">
        <Feature icon="ic:baseline-web" title="Health Check">
          Understand what's working, what's not and what could be next for your
          business.
          <span class="font-bold">Priced case-by-case</span>
          <Button
            icon="mdi:comment-question-outline"
            href="/contact"
            text="Enquire"
          />
        </Feature>
      </div>
      <Button
        icon="mdi:arrow-right"
        href="/pricing"
        text="Our Pricing"
        buttonColor="color-secondary"
      />
    </div>
  </section>
  <CallToAction />
</DefaultLayout>

<style lang="scss">
  .approach {
    background-color: var(--accent-peach-100);
  }
  section > .container {
    background-color: var(--background);
    border: 3px solid var(--dark-100);
    border-radius: 0.5rem;
    color: var(--font-color);
  }
  .approach > .container,
  .ongoing > .container,
  .systemInt > .container {
    background-color: var(--background);
    border: 3px solid var(--dark-100);
    border-radius: 0.5rem;
  }
  .business {
    // background: var(--accent-mint);
  }
  .webdev {
    // background: var(--accent-teal);
  }
  .systemInt {
    // background: var(--accent-purple);
  }
  .ongoing {
    // background: var(--accent-gold);
  }
  .container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    border: 3px solid var(--neutral-900);
    border-radius: 0.5rem;
  }

  a {
    text-transform: uppercase;
  }
  .mint {
    background-color: var(--accent-mint-100);
    color: var(--dark-100);
  }
  .teal {
    background-color: var(--accent-teal-100);
    color: var(--neutral-100);
  }
  .purple {
    background-color: var(--accent-purple-100);
    color: var(--neutral-100);
  }
  .gold {
    background-color: var(--accent-gold-100);
    color: var(--dark-100);
  }
</style>

<script>
  document.querySelectorAll('a[href^="#"]').forEach((anchor) => {
    anchor.addEventListener("click", function (e) {
      e.preventDefault();

      document.querySelector(this.getAttribute("href")).scrollIntoView({
        behavior: "smooth",
      });
    });
  });
</script>
