---
import DefaultLayout from "../layouts/DefaultLayout.astro";
import Hero from "../components/Hero.astro";
import Button from "../components/Button.astro";
import Heading from "../components/Heading.astro";
import { Icon } from "astro-icon";
import Feature from "../components/Feature.astro";
import CallOut from "../components/CallOut.astro";
---

<DefaultLayout title="Services">
  <Hero
    title="Invest in Technology"
    gradientText="That Matters"
    imgSrc="/invest-vector.png"
  >
    <p class="mb-4 self-start text-center text-xl md:text-left md:text-2xl">
      Unlock the potential of your business with accessible, affordable and
      understandable technology paired with one-time or ongoing tech support.
    </p>

    <div
      class="col-span-full mt-4 flex w-full flex-wrap justify-center gap-3 min-[200px]:flex-row xl:col-span-1"
    >
      <Button
        href="#webDev"
        icon="mdi:arrow-right"
        text="Website & App Development"
        buttonColor="blue"
      />

      <Button
        href="#ongoing"
        icon="mdi:arrow-right"
        text="Ongoing Support"
        buttonColor="gold"
      />
      <Button
        href="#systemIntegration"
        icon="mdi:arrow-right"
        text="System Integration"
        buttonColor="mint"
      />
      <Button
        href="#businessAnalysis"
        icon="mdi:arrow-right"
        text="Business Analytics"
        buttonColor="purple"
      />
    </div>
    <div class="col-span-full mt-16 flex w-full justify-center">
      <Button
        buttonColor="color-secondary"
        href="#approach"
        text="Our Approach"
        icon="mdi:arrow-down"
      />
    </div>
  </Hero>
  <section class="approach my-32 px-4 py-8">
    <div class="container flex flex-col rounded-lg py-8">
      <h2 class="mb-2 text-lg font-bold">
        <Heading id="approach" text="OUR APPROACH" />
      </h2>
      <p class="mb-8 text-4xl font-bold">
        Technology that
        <span class="text-highlight">connects</span> your business and customers.
      </p>
      <p class="mb-8 text-xl">
        Grow, profressionalise and promote your business with custom solutions
        that deliver value; to give you the time to focus on delivering your
        products and services.
      </p>
      <p class="mb-8 text-xl">Our approach is:</p>

      <div
        class="mb-16 grid grid-cols-1 justify-items-center gap-8 md:grid-cols-3"
      >
        <CallOut
          purple="Tech-Led"
          point="Processes and Service"
          subtext="Keep costs down and delivery fast."
        />
        <CallOut
          purple="UK-Based"
          point="British Suppliers"
          subtext="Supporting local businesses and tech talent."
        />

        <CallOut
          purple="Transparent"
          point="Upfront Costs"
          subtext="Fixed fees, clear briefs and simple pricing."
        />
      </div>
      <ul class="flex flex-col gap-4 text-xl">
        Our tech is:
        <li>
          <span class="font-bold">hand-coded</span> i.e. no wordpress or bloated
          frameworks
          <span class="font-bold">for speed and performance</span> to optimise your
          page ranking and SEO - getting you in front of <span
            class="font-bold"
          >
            more eyeballs
          </span>
        </li>
        <li>
          <span class="font-bold">integrated</span> tying together all your online
          profiles
          <span class="font-bold">and</span> your core business processes (like customer
          quotes or your accounting tools) - to <span class="font-bold">
            save you time and reduce complexity
          </span>
        </li>
        <li>
          <span class="font-bold">comprehensively managed</span>; we handle
          everything behind the scenes so you can <span class="font-bold"
            >set it and forget it</span
          > and focus on serving your customers <span class="font-bold"
            >tech-stress free</span
          >
        </li>
      </ul>
      <div
        class="mt-16 flex flex-col justify-center gap-3 min-[500px]:flex-row"
      >
        <Button href="/" icon="ph:chat" text="Get a Quote" />
        <Button
          href="#webDev"
          icon="mdi:arrow-down"
          text="Services"
          buttonColor="color-secondary"
        />
      </div>
    </div>
  </section>

  <section class="webdev blue my-16 px-4 py-8">
    <div class="container flex flex-col items-center py-32">
      <h2 class="mb-2 w-full text-lg font-bold">
        <Heading id="webDev" text="WEBSITE & APP DEVELOPMENT" />
      </h2>
      <p class="mb-8 w-full text-4xl font-bold">
        Translate ideas into technology.
      </p>
      <p class="mb-8 w-full text-xl">
        Got a great idea but can't code? Frustrated by the cost and complexity
        of building and maintaining a website?
      </p>
      <div
        class="grid max-w-sm grid-cols-1 content-center gap-6 sm:max-w-screen-lg sm:grid-cols-2 lg:grid-cols-3"
      >
        <Feature icon="ic:baseline-web" title="eCommerce & Digital Stores">
          Your digital shopfront, products and payment with Shopify
          <span class="text-xl font-bold">From £8,000 (ex.VAT)</span>
          <Button
            icon="mdi:arrow-right"
            href="/"
            text="Details & Booking"
            buttonColor="color-secondary"
          />
        </Feature>
        <Feature icon="ic:baseline-web" title="Website Build or Refresh">
          Valuable, secure and modern custom-coded business websites
          <span class="text-xl font-bold">From £3,000 (ex.VAT)</span>
          <Button
            icon="mdi:arrow-right"
            href="/"
            text="Details & Booking"
            buttonColor="color-secondary"
          />
        </Feature>

        <Feature icon="ic:baseline-web" title="Business Apps & Prototypes">
          Bespoke interal apps, customer dashboards or a mock up of your next
          venture for a pitch or research
          <span class="text-xl font-bold">From £5,000 (ex.VAT)</span>

          <Button
            icon="mdi:arrow-right"
            href="/"
            text="Details & Booking"
            buttonColor="color-secondary"
          />
        </Feature>
      </div>
    </div>
  </section>

  <section class="ongoing gold my-16 px-4 py-8">
    <div class="container flex flex-col items-center py-32">
      <h2 class="mb-2 w-full text-lg font-bold">
        <Heading id="ongoing" text="ONGOING SUPPORT" />
      </h2>
      <p class="mb-8 w-full text-4xl font-bold">
        Let us take care of the admin.
      </p>
      <p class="mb-8 w-full text-xl">
        Guaranteed, flexible access to expertise, ongoing managed support
        functions or routine maintenance, that already knows your business. Let
        us manage the admin of running your business, so you don't need to do it
        yourself or hire externally.
      </p>
      <div
        class="grid max-w-sm grid-cols-1 content-center gap-6 sm:max-w-screen-lg sm:grid-cols-2"
      >
        <Feature
          icon="ic:baseline-web"
          title="Web Hosting & Domain Maintenance"
        >
          Let us cover the basics of keeping your website up and running,
          <span class="text-xl font-bold">From £50 per month (ex.VAT)</span>
          <Button
            icon="mdi:arrow-right"
            href="/"
            text="Details & Booking"
            buttonColor="color-secondary"
          />
        </Feature>
        <Feature icon="ic:baseline-web" title="Business Technology Essentials">
          Everything you need for a professional, secure web presence and
          customer experience;
          <span class="text-xl font-bold">From £150 per month (ex.VAT)</span>
          <Button
            icon="mdi:arrow-right"
            href="/"
            text="Details & Booking"
            buttonColor="color-secondary"
          />
        </Feature>

        <!-- <Feature icon="ic:baseline-web" title="Business Apps & Prototypes">
          from £5,000 (ex.VAT).
          <Button
            icon="mdi:arrow-right"
            href="/"
            text="Details & Booking"
            buttonColor="color-secondary"
          />
        </Feature> -->
      </div>
    </div>
  </section>
  <section class="systemInt mint my-16 py-8">
    <div class="container py-32">
      <h2 class="mb-2 text-lg font-bold">
        <Heading id="systemIntegration" text="SYSTEM INTEGRATION" />
      </h2>
      <p class="mb-8 text-4xl font-bold">
        Reduce the burdon of running your business.
      </p>
      <p class="mb-8 text-xl">
        You should be able to trust technology to reduce the cost and complexity
        of running your business, not increase it.
      </p>

      <div class="flex max-w-md place-self-center">
        <Feature icon="ic:baseline-web" title="Let's get connected">
          Automate, streamline or reconfigure your processes and systems to
          simplify, secure or fix ineffective tech.
          <span class="font-bold">Priced case-by-case</span>

          <Button
            icon="mdi:comment-question-outline"
            href="/"
            text="Enquire"
            buttonColor="color-primary"
          />
        </Feature>
      </div>
    </div>
  </section>
  <section class="business purple my-16 px-4 py-8">
    <div class="container py-32">
      <h2 class="mb-2 text-lg font-bold">
        <Heading id="businessAnalysis" text="BUSINESS ANALYSIS" />
      </h2>
      <p class="mb-8 text-4xl font-bold">
        Understand the dynamics of your business.
      </p>
      <p class="mb-8 text-xl">
        Assess performance, manage risk and identify opportunities to improve
        processes and systems.
      </p>
      <div class="flex max-w-md place-self-center">
        <Feature icon="ic:baseline-web" title="Health Check">
          Understand what's working, what's not and what could be next for your
          business.
          <span class="font-bold">Priced case-by-case</span>
          <Button
            icon="mdi:comment-question-outline"
            href="/"
            text="Enquire"
            buttonColor="color-primary"
          />
        </Feature>
      </div>
    </div>
  </section>
</DefaultLayout>

<style lang="scss">
  .approach {
    background-color: var(--accent-peach-100);
  }
  .approach > .container,
  .ongoing > .container,
  .systemInt > .container {
    background-color: var(--secondary-50);
    border: 3px solid var(--neutral-900);
    border-radius: 0.5rem;
  }
  .business {
    // background: var(--accent-mint);
  }
  .webdev {
    // background: var(--accent-teal);
  }
  .systemInt {
    // background: var(--accent-purple);
  }
  .ongoing {
    // background: var(--accent-gold);
  }
  .container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    border: 3px solid var(--neutral-900);
    border-radius: 0.5rem;
  }

  a {
    text-transform: uppercase;
  }
  .mint {
    background-color: var(--accent-mint-100);
    color: var(--dark-100);
  }
  .teal {
    background-color: var(--accent-teal-100);
    color: var(--neutral-100);
  }
  .purple {
    background-color: var(--accent-purple-100);
    color: var(--neutral-100);
  }
  .gold {
    background-color: var(--accent-gold-100);
    color: var(--dark-100);
  }
</style>

<script>
  document.querySelectorAll('a[href^="#"]').forEach((anchor) => {
    anchor.addEventListener("click", function (e) {
      e.preventDefault();

      document.querySelector(this.getAttribute("href")).scrollIntoView({
        behavior: "smooth",
      });
    });
  });
</script>
