---
import { Media } from "accessible-astro-components";

const { imgSrc, reverseImg = false } = Astro.props;
---

<div class="container">
  <div class="grid grid-cols-1 content-center gap-12 md:grid-cols-2">
    {
      !reverseImg ? (
        <Media
          class="self-center justify-self-center rounded-lg"
          src={imgSrc}
        />
      ) : (
        ""
      )
    }
    <div class="space-content flex flex-col justify-center">
      <slot />
    </div>
    {
      reverseImg ? (
        <Media
          class="self-center justify-self-center rounded-lg"
          src={imgSrc}
        />
      ) : (
        ""
      )
    }
  </div>
</div>
