---
const currentYear = new Date().getFullYear();
---

<footer>
  <section class="container py-4 text-xs">
    <div class="flex justify-between">
      <a href="/" class="flex items-center gap-2 !no-underline">
        <img
          class="hidden dark:block"
          src={(await import("../assets/img/350x100-alt-dark.png")).default}
          alt="Your Logo"
          width="300"
          height="auto"
        />
        <img
          class="block dark:hidden"
          src={(await import("../assets/img/350x100.png")).default}
          alt="Your Logo"
          width="300"
          height="auto"
        />
      </a>
      <div class="flex flex-col justify-end text-end">
        <p>
          &copy; {currentYear} Peculiar Dynamics Ltd.
        </p>
        <p>Registered Office: 71-75 Shelton Street, London, WC2H 9JQ</p>
        <p>Registered in England and Wales (14575056)</p>
      </div>
    </div>

    <div class="mt-4 flex items-center justify-between gap-2">
      <a class="email-link" href="" aria-label="send me an email"
        ><p>
          <span class="hidden">ANTISPAM</span
          >info@<!-- antispam-->peculiardynamics.co.uk
        </p></a
      >
      <ul role="directory" class="flex flex-wrap justify-end">
        <li><a href="../policies/terms">Terms and Conditions</a> |</li>
        <li><a href="">Sitemap</a> |</li>
        <li><a href="../policies/privacy">Privacy Policy</a> |</li>
        <li><a href="">Accessibility</a> |</li>
        <li><a href="">Supplier Code of Conduct</a> |</li>
        <li><a href="../policies/cookies">Cookie Notice</a>&nbsp;&nbsp</li>
      </ul>
    </div>
    <div class="mt-4 text-gray-400">
      <p>
        Built with <a href="https://astro.build/">Astro</a>. Made with ❤️ by <a
          href="https://github.com/lachappers">Lucy Chaplin</a
        >
      </p>
    </div>
  </section>
</footer>

<script>
  const encodedEmail = "aW5mb0BwZWN1bGlhcmR5bmFtaWNzLmNvLnVr";
  const emails = document.querySelectorAll(".email-link");

  emails.forEach((e) => {
    e.setAttribute(
      "href",
      "mailto:"
        .concat(atob(encodedEmail))
        .concat("?subject=I've got a Peculiar Query")
    );
  });
</script>
