---
import Navigation from "../components/Navigation.astro";
import { Icon } from "astro-icon/components";
import { Image } from "astro:assets";

import darkLogo from "@assets/img/350x100-alt-dark.webp";
import lightLogo from "@assets/img/350x100.webp";
import Button from "@components/Button.astro";
import { PAGES } from "@config";
---

<header
  class="sticky top-0 z-50 flex h-full w-full max-w-full items-center justify-center px-2 lg:px-4"
>
  <div class="flex max-h-24 w-full max-w-full py-2">
    <div
      class="container flex max-h-full w-full max-w-full items-center justify-between gap-2"
    >
      <a
        href="/"
        id="nav-logo"
        aria-label="Navigate Home"
        class="min-w-32 flex h-16 flex-auto items-center"
      >
        <Image
          class="block h-full w-fit object-contain dark:hidden"
          src={lightLogo}
          alt=""
          width="350"
          height="100"
        />
        <Image
          class="hidden h-full w-fit object-contain dark:block"
          src={darkLogo}
          alt=""
          width="350"
          height="100"
        />
      </a>

      <Navigation />
    </div>
  </div>
</header>

<script></script>

<style lang="scss" is:global>
  @use "@assets/scss/base/breakpoint" as *;
  @use "@assets/scss/base/outline" as *;

  header {
    position: sticky;
    top: 0;

    z-index: 50;

    width: 100%;
    max-height: 7rem;
    background-color: var(--background);
    color: var(--action-color);

    border-bottom: 3px solid var(--font-color);
  }

  .nav-icon {
    @apply h-full w-10 items-center justify-center text-6xl text-[--action-color] transition hover:text-[--secondary-300];
  }

  #main-navigation {
    .has-dropdown {
      position: relative;

      > button {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 0.5rem;
        padding: 0;
        margin-top: -1px;
        border: none;
        color: var(--action-color);

        &:hover {
          color: var(--action-color-state);

          &::after {
            border-color: var(--action-color-state);
          }
        }

        &::after {
          content: "";
          width: 0.85rem;
          height: 0.75em;
          margin-top: -0.25rem;
          border-style: solid;
          border-width: 0.15em 0.15em 0 0;
          border-color: var(--action-color);
          transform: rotate(135deg);
        }

        &.show {
          &::after {
            margin-top: 0.25rem;
            transform: rotate(-45deg);
          }

          ~ ul {
            display: flex;
            flex-direction: column;
            gap: 1rem;
          }
        }
      }

      ul {
        display: none;
        position: absolute;
        z-index: 100;
        min-width: 260px;
        top: 125%;
        right: 0;
        bottom: auto;
        left: 0;
        padding: 1rem;
        font-color: var(--primary-300);
        background-color: var(--neutral-background);
        border: 3px solid var(--dark-100);
        border-radius: 3px;
        box-shadow: 0 10px 20px rgba(0, 0, 0, 0.15);
      }
    }
  }
</style>
