---
import Navigation from "../components/Navigation.astro";
import { SkipLinks } from "accessible-astro-components";
import { Icon } from "astro-icon/components";
import Button from "../components/Button.astro";
---

<header class="">
  <SkipLinks />
  <Navigation>
    <li class="menu-item">
      <a href="/">Home</a>
    </li>
    <li class="menu-item">
      <a href="/services/">Services</a>
    </li>
    <li class="menu-item">
      <a href="/pricing/">Pricing</a>
    </li>
    <li class="menu-item">
      <a href="/contact/">Contact</a>
    </li>
    <!-- menu from https://accessible-astro.dev" -->

    <li class="menu-item type-icon">
      <a href="/quoter" aria-label="get a quote">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="28"
          height="28"
          fill="none"
        >
          <path
            fill="#000"
            d="M18.333 17.425a1 1 0 1 0 0-2v2Zm-10.11-1v-1a1 1 0 0 0-.114 1.993l.113-.993Zm3.37-5.362h1-1Zm0-4.596.787.617-.787-.617Zm5.134 1.411a1 1 0 0 0 1.528-1.29l-1.528 1.29Zm-.079 4.95a1 1 0 1 0 0-2v2Zm-8.426-2a1 1 0 1 0 0 2v-2Zm1.445 9.81h1v-1h-1v1Zm6.5 0v-1h-.437l-.297.32.734.68Zm2.166-5.213H8.5v2h9.833v-2Zm-9.833 0h-.278v2H8.5v-2Zm-.278 1c-.113.993-.113.994-.112.994h.002a.317.317 0 0 0 .008 0l.013.002a2.063 2.063 0 0 0 .132.008c.078.002.181.002.304-.006l-.138-1.996c-.05.004-.086.003-.104.003h-.012.016l.002.001h.001l-.112.994Zm.347.997a3.745 3.745 0 0 0 2.521-1.253c.894-.988 1.503-2.59 1.503-5.106h-2c0 2.214-.535 3.266-.985 3.763-.446.492-.94.585-1.177.601l.138 1.995Zm4.024-6.36c0-.775-.132-1.888-.187-2.682a8.394 8.394 0 0 1-.023-1.07c.022-.335.078-.33-.003-.226L10.805 5.85c-.327.417-.394.97-.418 1.327-.027.415-.008.888.024 1.341.068.98.182 1.852.182 2.545h2Zm-.213-3.978c.492-.628.948-.821 1.318-.865.404-.048.858.066 1.335.311.473.243.9.58 1.218.869a6.86 6.86 0 0 1 .454.454l.02.023.003.004v-.001c-.001 0-.001-.001.763-.646s.764-.646.763-.646l-.002-.002a.972.972 0 0 1-.015-.018 3.651 3.651 0 0 0-.169-.186 8.804 8.804 0 0 0-.47-.46 7.82 7.82 0 0 0-1.652-1.17c-.681-.35-1.544-.63-2.483-.518-.972.115-1.886.632-2.657 1.617l1.574 1.234Zm4.268 3.745H8.222v2h8.426v-2ZM3.888 2h20.223V0H3.89v2ZM26 3.805v14.028h2V3.805h-2ZM2 17.833V3.805H0v14.028h2Zm7.667 1.805H3.889v2h5.778v-2Zm14.444 0h-7.944v2h7.944v-2ZM8.667 26.951A1.045 1.045 0 0 0 10 27.96c.234-.063.43-.199.52-.261.236-.165.53-.42.838-.703a63.01 63.01 0 0 0 2.274-2.241 194.676 194.676 0 0 0 3.194-3.358l.055-.06.014-.015a.194.194 0 0 0 .004-.003v-.002h.001l-.733-.68-.734-.68v.002c-.002 0-.003.002-.004.003l-.014.015-.054.058a137.356 137.356 0 0 1-.938 1.001c-.607.645-1.415 1.495-2.222 2.322a61.29 61.29 0 0 1-2.195 2.164 7.463 7.463 0 0 1-.634.54c-.088.061-.032.004.107-.033.05-.013.37-.101.717.104.422.251.47.671.47.817h-2Zm2 0v-6.313h-2v6.313h2ZM0 17.833c0 2.129 1.769 3.805 3.889 3.805v-2C2.818 19.638 2 18.803 2 17.833H0Zm26 0c0 .97-.818 1.805-1.889 1.805v2c2.12 0 3.889-1.676 3.889-3.805h-2ZM24.111 2C25.182 2 26 2.836 26 3.805h2C28 1.676 26.231 0 24.111 0v2ZM3.89 0C1.769 0 0 1.676 0 3.805h2C2 2.835 2.818 2 3.889 2V0Z"
          ></path>
        </svg>
      </a>
    </li>

    <style lang="scss" is:global>
      @use "../assets/scss/base/outline" as *;
    </style>
  </Navigation>
</header>
