---
import { Icon } from "astro-icon";

const { icon = "mdi:rocket", title = "Title" } = Astro.props;
---

<div class="step my-3 rounded-lg p-4 md:rounded-none md:px-0">
  <div class="flex items-center" aria-hidden="true">
    <div
      class="z-10 flex shrink-0 items-center justify-center dark:bg-blue-900 dark:ring-gray-900"
      aria-hidden="true"
    >
      <Icon name={icon} aria-hidden="true" />
    </div>
    <div class="hidden h-0.5 w-full bg-slate-100 dark:bg-white sm:flex"></div>
  </div>

  <div class="content mt-3 sm:pr-8">
    <h3 class="mb-2">{title}</h3>
    <p>
      <slot
        >Lorem ipsum dolor sit amet consectetur adipisicing elit. Hic, corporis.</slot
      >
    </p>
  </div>
</div>

<style lang="scss">
  @use "../assets/scss/base/breakpoint" as *;

  .step {
    position: relative;
    width: 20rem;
    max-width: 20rem;
    padding-top: 1rem;
    padding-bottom: 1rem;

    :first-child :first-child {
      padding: 0.25rem;
      background-color: var(--neutral-200);
      height: 4rem;
      width: 4rem;
      border-radius: 9999px;
      // box-shadow: 0 0 0 calc(0px + 6px) var(--primary-300);
    }
    > * {
      //   position: relative;
      //   z-index: 2;
    }
    > .content {
      padding-left: 1rem;
    }

    @include breakpoint(large) {
      //   width: 100%;
    }
  }

  :global(.step [astro-icon]) {
    width: 3rem;
    height: 3rem;
    color: var(--secondary-300);
  }

  :global(.darkmode .step) {
    background-color: var(--dark-100);
    > * {
      // color: var(--dark-100);
    }
  }

  :global(.darkmode .step:first-child) {
    border-top-left-radius: 0.5rem;
    border-bottom-left-radius: 0.5rem;
    padding-left: 1rem;
  }
  :global(.darkmode .step:last-child) {
    border-bottom-right-radius: 0.5rem;
    border-top-right-radius: 0.5rem;
    padding-right: 1rem;
  }
</style>
