---
import { Icon } from "astro-icon/components";
---

<button
  class="responsive-toggle"
  aria-expanded="false"
  aria-label="Open menu navigation"
>
  <svg
    xmlns="http://www.w3.org/2000/svg"
    width="24"
    height="24"
    viewBox="0 0 24 24"
    ><path
      fill="var(--action-color)"
      d="M3 6h18v2H3V6m0 5h18v2H3v-2m0 5h18v2H3v-2Z"></path></svg
  >
</button>

<script>
  // variables
  const responsiveToggle = document.querySelector(".responsive-toggle");

  // functions
  const openMenu = (toggle) => {
    toggle.setAttribute("aria-expanded", true);
    toggle.setAttribute("aria-label", "Close menu navigation");
    toggle.innerHTML = `<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path fill="var(--action-color)" d="M19 6.41L17.59 5L12 10.59L6.41 5L5 6.41L10.59 12L5 17.59L6.41 19L12 13.41L17.59 19L19 17.59L13.41 12L19 6.41Z"/></svg>`;
  };

  const closeMenu = (toggle) => {
    toggle.setAttribute("aria-expanded", false);
    toggle.setAttribute("aria-label", "Open menu navigation");
    toggle.innerHTML = `<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path fill="var(--action-color)" d="M3 6h18v2H3V6m0 5h18v2H3v-2m0 5h18v2H3v-2Z"/></svg>`;
  };

  // execution;
  responsiveToggle?.addEventListener("click", (_) => {
    const mobileNavigation = document.querySelector(".mobile-menu");
    console.log(responsiveToggle);

    mobileNavigation?.classList.toggle("show");
    mobileNavigation?.classList.contains("show")
      ? openMenu(responsiveToggle)
      : closeMenu(responsiveToggle);
  });
</script>

<style lang="scss">
  @use "../assets/scss/base/breakpoint" as *;
  @use "../assets/scss/base/outline" as *;

  .responsive-toggle {
    display: none;
    padding: 0;
    margin: 0;
    border: none;
    // border: 1px solid salmon;
    // width: 5rem;
    // height: 5rem;

    svg {
      // width: 30px;
      width: 100%;
      // width: 2.5rem;
      justify-self: center;
      vertical-align: middle;
      color: var(--action-color);

      path {
        transition: fill 0.2s ease-in-out;
      }
    }
    &:hover {
      svg path {
        fill: var(--secondary-300);
      }
    }
  }
  :global(.responsive-toggle [astro-icon]) {
    width: 4rem;
    color: var(--action-color);
  }
</style>
