---
const { tags = [], tagColor } = Astro.props;
---

<ul>
  {tags.map((tag) => <li>{tag}</li>)}
</ul>

<style lang="scss">
  .tag {
    border-radius: 9999px;
    border: 2px solid var(--neutral-800);
  }
</style>
