---
import DefaultLayout from "@layouts/DefaultLayout.astro";

const { frontmatter } = Astro.props;
---

<DefaultLayout title={frontmatter.title} type="article">
  <section class="my-16 flex h-full flex-auto flex-col p-4 sm:p-8">
    <slot />
  </section>
</DefaultLayout>
