---
import "@assets/scss/globals.scss";
import SiteMeta from "@components/SiteMeta.astro";
import CookiesHead from "@components/shared/CookiesHead.astro";
import Header from "@components/Header.astro";
import Footer from "@components/Footer.astro";

import Cookies from "@components/Cookies.astro";

import { ViewTransitions } from "astro:transitions";
import { SITE } from "@config";

const {
  title = SITE.title,
  description = SITE.description,
  url = SITE.website,
  favicon = SITE.favicon,
  subtitle = SITE.subtitle,
  author = SITE.author,
  type = "website",
} = Astro.props;

// console.log(title);
---

<html lang="en" dir="ltr">
  <head>
    <!-- favicon -->
    <link rel="icon" type="image/svg+xml" href={favicon} />

    <!-- sitemap -->
    <link rel="sitemap" href="/sitemap-index.xml" />

    <SiteMeta
      title={title}
      description={description.substring(0, 160)}
      url={Astro.site
        ? `${Astro.site}${title.toLowerCase().replaceAll(" ", "-")}`
        : url}
      subtitle={title !== subtitle ? subtitle : undefined}
      image={"assets/images/1074x584.png"}
      author={author}
    />
    <CookiesHead />

    <ViewTransitions />
    <script
      type="text/javascript"
      src="https://identity.netlify.com/v1/netlify-identity-widget.js"
    ></script>
  </head>

  <body
    class="relative flex w-full max-w-full flex-col items-center justify-center subpixel-antialiased"
  >
    <!-- Google Tag Manager (noscript) -->
    <noscript
      ><iframe
        src="https://www.googletagmanager.com/ns.html?id=GTM-TQXQ4HMD"
        height="0"
        width="0"
        style="display:none;visibility:hidden"></iframe></noscript
    >
    <!-- End Google Tag Manager (noscript) -->

    <!--Screen reader skip main nav-->
    <a class="sr-only" aria-label="skip to main content" href="#main-content"
      >Click To Skip To Main Content</a
    >

    <Header />

    <main
      id="main-content"
      class="relative z-0 mb-4 flex h-full w-full flex-auto flex-col items-center justify-start gap-4 md:mb-16"
    >
      <slot />
    </main>

    <Footer />

    <Cookies />

    <script>
      // console.log(window);
      declare global {
        interface Window {
          netlifyIdentity: any;
        }
      }

      if (window.netlifyIdentity) {
        window.netlifyIdentity.on("init", (user: any) => {
          if (!user) {
            window.netlifyIdentity.on("login", () => {
              document.location.href = "/admin/";
            });
          }
        });
      }
    </script>

    <style lang="scss" is:global>
      body {
        color: var(--font-color);
        background-color: var(--background);
      }

      body .pagination a {
        &:hover,
        &:focus-visible {
          background-color: var(--action-color-state);

          svg path {
            stroke: white;
          }
        }
      }

      // main > section {
      //   min-height: 70vh;
      // }
      // main > .container,
      // main > section > .container {
      //   @apply my-16 flex items-center justify-center gap-4 p-4 md:my-32 md:gap-8 md:p-16;
      // }
    </style>
  </body>
</html>
