---
import "../assets/scss/globals.scss";
import SiteMeta from "../components/SiteMeta.astro";
import CookiesHead from "@components/shared/CookiesHead.astro";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
// import { Image } from "astro:assets";
// import logo from "../assets/1074x584.png";
// import CookieConsentComponent from "../components/CookieBanner.jsx";
import Cookies from "@components/Cookies.astro";
// import Whatsapp from "../components/Whatsapp.astro";
import { SITE } from "../config";

const {
  title = SITE.title,
  description = SITE.description,
  url = SITE.website,
  favicon = SITE.favicon,
  subtitle = SITE.subtitle,
} = Astro.props;
---

<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />

    <!-- favicon -->
    <link rel="icon" type="image/svg+xml" href={favicon} />
    <!-- <link rel="icon" type="image/png" href='/assets/images/favicon.png"' /> -->
    <!-- sitemap -->
    <link rel="sitemap" href="/sitemap-index.xml" />

    <SiteMeta
      title={title}
      description={description.substring(0, 100)}
      url={Astro.site
        ? `${Astro.site}${title.toLowerCase().replaceAll(" ", "-")}`
        : url}
      image={"1074x584.png"}
    />
    <CookiesHead />
    <!-- Whatsapp link redirect -->

    <!-- <script
      src="https://dashboard.chatfuel.com/integration/landing-wa-widget.js"
      async
      defer
      data-prefilled="Hi, I've got a question"
      data-welcome="Hello there! How can we help you today?"
      data-phone="447405952020"
    ></script> -->
  </head>

  <body>
    <!-- Google Tag Manager (noscript) -->
    <noscript
      ><iframe
        src="https://www.googletagmanager.com/ns.html?id=GTM-TQXQ4HMD"
        height="0"
        width="0"
        style="display:none;visibility:hidden"></iframe></noscript
    >
    <!-- End Google Tag Manager (noscript) -->

    <!--Screen reader skip main nav-->
    <a class="hidden" aria-label="skip to main content" href="#main-content"
      >Click To Skip To Main Content</a
    >

    <Header />

    <main
      id="main-content"
      class="relative z-0 flex flex-col items-center gap-4"
    >
      <slot />
    </main>

    <Footer />
    <!-- <CookieConsentComponent client:load /> -->
    <Cookies />
    <!-- <Whatsapp /> -->
    <script>
      document.querySelectorAll('a[href^="#"]').forEach((anchor) => {
        anchor.addEventListener("click", function (e) {
          e.preventDefault();

          document.querySelector(this.getAttribute("href")).scrollIntoView({
            behavior: "smooth",
          });
        });
      });
    </script>

    <style lang="scss" is:global>
      // theme settings

      // sticky footer on low content pages
      html,
      body {
      }

      pre {
        padding: 1rem;
        border-radius: 0.35rem;
        border: 2px solid var(--action-color);
      }

      body .pagination a {
        &:hover,
        &:focus-visible {
          background-color: var(--action-color-state);

          svg path {
            stroke: white;
          }
        }
      }

      main > section {
        min-height: 70vh;
        // display: flex;
        // flex-direction: column;
        // align-items: center;
        // justify-content: center;
        // padding: 1rem;
      }
      main > .container {
        padding: 1rem;
      }

      .mint {
        background-color: var(--accent-mint-100);
        color: var(--dark-100);
      }
      .darkmode .mint {
        background-color: var(--dark-100);
        color: var(--neutral-100);
        // color: var(--accent-mint);
        border: 2px solid var(--accent-mint-100);
        border-radius: 0.5rem;
        margin: 1rem;
      }

      .blue {
        background-color: var(--accent-blue-100);
        color: var(--neutral-100);
      }
      .darkmode .blue {
        background-color: var(--dark-100);
        color: var(--neutral-100);
        border: 2px solid var(--accent-blue-100);
        border-radius: 0.5rem;
        margin: 1rem;
      }

      .teal {
        background-color: var(--accent-teal-100);
        color: var(--neutral-100);
      }
      .darkmode .teal {
        background-color: var(--dark-100);
        // color: var(--accent-teal);

        border: 2px solid var(--accent-teal-100);
        border-radius: 0.5rem;
        margin: 1rem;
      }
      .purple {
        background-color: var(--accent-purple-100);
        color: var(--neutral-100);
      }
      .darkmode .purple {
        background-color: var(--dark-100);

        // color: var(--accent-purple);
        border: 2px solid var(--accent-purple-100);
        border-radius: 0.5rem;
        margin: 1rem;
      }
      .pink {
        background-color: var(--accent-pink-100);
        color: var(--neutral-100);
      }
      .darkmode .pink {
        background-color: var(--dark-100);

        // color: var(--accent-purple);
        border: 2px solid var(--accent-pink-100);
        border-radius: 0.5rem;
        margin: 1rem;
      }
      .gold {
        background-color: var(--accent-gold-100);
        color: var(--dark-100);
      }
      .darkmode .gold {
        background-color: var(--dark-100);
        // color: var(--accent-gold);
        border: 2px solid var(--accent-gold-100);
        color: var(--neutral-100);
        border-radius: 0.5rem;
        margin: 1rem;
      }
      .neutral {
        background-color: var(--neutral-background-light);
        color: var(--font-color);
      }
    </style>
  </body>
</html>
