---
import "../assets/scss/globals.scss";
import SiteMeta from "../components/SiteMeta.astro";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import Cookies from "../components/Cookies.astro";
import CookieConsentComponent from "../components/CookieBanner.jsx";

const {
  title = "Peculiar Astro",
  description = "A project inspired by the accessible-astro theme with accessibility features using Astro static site builder. Contains accessible landmarks, skip links, a dark mode color scheme, better focus outline and keyboard menu navigation.",
  url = "https://www.peculiardynamics.co.uk",
  image = "/social-preview-image.png",
  author = "Lucy Chaplin",
} = Astro.props;
---

<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />

    <!-- favicon -->
    <link rel="icon" type="image/png" href="/favicon.png" />
    <!-- sitemap -->
    <link rel="sitemap" href="/sitemap-index.xml" />

    <SiteMeta
      title={title}
      description={description.substring(0, 100)}
      url={Astro.site
        ? `${Astro.site}/${title.toLowerCase().replaceAll(" ", "-")}`
        : `https://accessible-astro.dev/${title
            .toLowerCase()
            .replaceAll(" ", "-")}`}
      image={image}
      author={author}
    />
    <script
      type="text/plain"
      data-cookiecategory="analytics"
      src="https://www.googletagmanager.com/gtag/js?id=G-J2E7MTN9P5"
    ></script>
    <script type="text/plain" data-cookiecategory="analytics">
      window.dataLayer = window.dataLayer || [];
      function gtag() {
        dataLayer.push(arguments);
      }
      gtag("js", new Date());

      gtag("config", "G-J2E7MTN9P5");
    </script>
    <!-- Google tag (gtag.js) -->

    <!-- Google Tag Manager -->
    <!-- <script type="text/plain" data-cookiecategory="analytics">
  (function (w, d, s, l, i) {
    w[l] = w[l] || [];
    w[l].push({ "gtm.start": new Date().getTime(), event: "gtm.js" });
    var f = d.getElementsByTagName(s)[0],
      j = d.createElement(s),
      dl = l != "dataLayer" ? "&l=" + l : "";
    j.async = true;
    j.src = "https://www.googletagmanager.com/gtm.js?id=" + i + dl;
    f.parentNode.insertBefore(j, f);
  })(window, document, "script", "dataLayer", "GTM-TQXQ4HMD");
</script> -->
    <!-- End Google Tag Manager -->
  </head>
  <body>
    <!-- Google Tag Manager (noscript) -->
    <noscript
      ><iframe
        src="https://www.googletagmanager.com/ns.html?id=GTM-TQXQ4HMD"
        height="0"
        width="0"
        style="display:none;visibility:hidden"></iframe></noscript
    >
    <!-- End Google Tag Manager (noscript) -->
    <CookieConsentComponent client:load />
    <Header />

    <main id="main-content" class="mb-32 flex flex-col gap-32 scroll-smooth">
      <slot />
    </main>

    <Footer />

    <script>
      document.querySelectorAll('a[href^="#"]').forEach((anchor) => {
        anchor.addEventListener("click", function (e) {
          e.preventDefault();

          document.querySelector(this.getAttribute("href")).scrollIntoView({
            behavior: "smooth",
          });
        });
      });
    </script>

    <style lang="scss" is:global>
      // theme settings
      :root {
        --radius-small: 3px;
        --radius-large: 6px;
        --gap-default: 2rem;
        --font-measure: 70ch;
        --font-family-default: "Open Sans", sans-serif;
        --font-family-special: "Open Sans", sans-serif;
        // light theme
        --font-color: var(--neutral-900);
        --action-color: var(--primary-300);
        --action-color-state: var(--primary-600);
        // --background: var(--neutral-100);
        --background: var(--secondary-50);
        --primary-background: var(--primary-100);
        --secondary-background: var(--secondary-100);
        --neutral-background: var(--neutral-200);
        --neutral-background-light: var(--neutral-100);
        --shadow-light: 1px 1px 0 var(--secondary-100),
          5px 5px 0 var(--dark-100);
        --shadow-dark: 1px 1px 0 var(--neutral-800),
          5px 5px 0 var(--secondary-100);
      }

      // dark color scheme overrides
      .darkmode {
        --font-color: var(--neutral-100);
        --action-color: var(--secondary-100);
        --action-color-state: var(--secondary-500);
        --background: var(--dark-100);
        --primary-background: var(--primary-600);
        --secondary-background: var(--neutral-800);
        --neutral-background: var(--neutral-900);
        --neutral-background-light: var(--neutral-800);
      }

      // sticky footer on low content pages
      html,
      body {
        height: 100%;
        overflow-x: hidden;
      }

      body {
        display: flex;
        flex-direction: column;
        color: var(--font-color);
        background-color: var(--background);

        main {
          flex: 1 0 auto;
        }

        footer {
          flex-shrink: 0;
        }
      }

      pre {
        padding: 1rem;
        border-radius: 0.35rem;
        border: 2px solid var(--action-color);
      }

      body .pagination a {
        &:hover,
        &:focus-visible {
          background-color: var(--action-color-state);

          svg path {
            stroke: white;
          }
        }
      }

      main > section {
        min-height: 70vh;
        // display: flex;
        // flex-direction: column;
        // align-items: center;
        // justify-content: center;
        // padding: 1rem;
      }
      main > .container {
        padding: 1rem;
      }
    </style>
  </body>
</html>
