---
import "../assets/scss/globals.scss";
import SiteMeta from "@components/SiteMeta.astro";
import CookiesHead from "@components/shared/CookiesHead.astro";
import Header from "@components/Header.astro";

import FooterSlim from "@components/common/FooterSlim.astro";

import Cookies from "@components/Cookies.astro";

import { ViewTransitions } from "astro:transitions";
import { SITE } from "@config";

const {
  title = SITE.title,
  description = SITE.description,
  url = SITE.website,
  favicon = SITE.favicon,
  subtitle = SITE.subtitle,
  author = SITE.author,
  type = "website",
} = Astro.props;

// console.log(title);
---

<html lang="en" dir="ltr">
  <head>
    <!-- favicon -->
    <link rel="icon" type="image/svg+xml" href={favicon} />

    <!-- sitemap -->
    <link rel="sitemap" href="/sitemap-index.xml" />

    <SiteMeta
      title={title}
      description={description.substring(0, 160)}
      url={Astro.site
        ? `${Astro.site}${title.toLowerCase().replaceAll(" ", "-")}`
        : url}
      subtitle={title !== subtitle ? subtitle : undefined}
      image={"assets/images/1074x584.png"}
      author={author}
    />
    <CookiesHead />

    <ViewTransitions fallback="none" />
    {
      Astro.url.pathname === "/" && (
        <script
          defer
          async
          src="https://identity.netlify.com/v1/netlify-identity-widget.js"
        />
      )
    }
  </head>

  <body
    class="relative flex w-full max-w-full flex-col items-center justify-center subpixel-antialiased"
  >
    <!-- Google Tag Manager (noscript) -->
    <noscript
      ><iframe
        src="https://www.googletagmanager.com/ns.html?id=GTM-TQXQ4HMD"
        height="0"
        width="0"
        style="display:none;visibility:hidden"></iframe></noscript
    >
    <!-- End Google Tag Manager (noscript) -->

    <!--Screen reader skip main nav-->
    <a class="sr-only" aria-label="skip to main content" href="#main-content"
      >Click To Skip To Main Content</a
    >

    <Header />

    <main
      id="main-content"
      class="relative z-0 mb-4 flex h-full w-full flex-auto flex-col items-center justify-start gap-4 md:mb-16"
    >
      <slot />
    </main>

    <FooterSlim>
      <div
        class="container flex w-full flex-wrap justify-between gap-2 px-2 py-2 text-center text-xs text-[--font-variant] sm:flex-nowrap sm:text-left"
        slot="legals"
      >
        <p class="flex w-full flex-col items-center gap-x-2 md:flex-row">
          VAT: 440548112
          <span aria-hidden="true" class="hidden md:block">|</span>
          <span>Registered in England and Wales (14575056)</span>
        </p>

        <p
          class="flex w-full flex-col items-center justify-center gap-x-2 sm:justify-end md:flex-row"
        >
          Registered Office: <span>71-75 Shelton Street, London, WC2H 9JQ</span>
        </p>
      </div>
    </FooterSlim>

    <Cookies />

    <style lang="scss" is:global>
      body {
        color: var(--font-color);
        background-color: var(--background);
      }

      body .pagination a {
        &:hover,
        &:focus-visible {
          background-color: var(--action-color-state);

          svg path {
            stroke: white;
          }
        }
      }

      // main > section {
      //   min-height: 70vh;
      // }
      // main > .container,
      // main > section > .container {
      //   @apply my-16 flex items-center justify-center gap-4 p-4 md:my-32 md:gap-8 md:p-16;
      // }
    </style>
  </body>
</html>
