---
import DefaultLayout from "./DefaultLayout.astro";
import Heading from "../components/shared/Heading.astro";
const { frontmatter } = Astro.props;
---

<DefaultLayout title={frontmatter.title}>
  <h1 class="mt-16 w-full text-center text-4xl font-bold">
    <Heading id={frontmatter.link} text={frontmatter.title} />
  </h1>

  <div class="policy space-content container max-w-[80ch]">
    <slot />
  </div>
</DefaultLayout>

<style lang="scss" is:global>
  .policy > ol {
    list-style-type: decimal;
    list-style-position: outside;
    padding-left: 0.5rem;
  }
  .policy > ol > li {
    padding-left: 0.5rem;
  }

  .policy > ul {
    // list-style-type: decimal;
    list-style-type: disc;
    list-style-position: outside;
    padding-left: 0.5rem;
  }
</style>

<script>
  if (document.getElementById("cookies")) {
    insertCookiesBtn();
  }
  // if title === "privacy"

  function insertCookiesBtn() {
    const content = document.querySelector(".policy");
    const b = document.createElement("button");
    b.setAttribute("data-cc", "show-preferencesModal");
    b.innerHTML = "Manage Cookie Settings";
    b.classList.add(
      "button",
      "color-neutral",
      "size-small",
      "max-w-fit",
      "self-center"
    );
    content?.parentNode?.insertBefore(b, content);
  }
</script>
